$w1: 1366px;
$w2: 769px;
$w3: 480px;

.LeftMenuLk {
  @media (max-width: $w2) {
    display: none;
  }
  display: block;
  width: torem(310px);
  min-width: torem(310px);
  max-width: torem(310px);
  @include maxMinContent();
  min-height: 100vh;
  box-sizing: border-box;
  background-color: var(--BodyBgColor);
  border-right: torem(1px) solid var(--InputColors);

  .LeftMenuLkInner {
    position: absolute;
    width: torem(310px);
    min-width: torem(310px);
    max-width: torem(310px);
    padding: torem(10px) 0px 0px torem(20px);
    border-right: torem(1px) solid var(--InputColors);
    z-index: 9000;
    box-sizing: border-box;
    background-color: var(--BodyBgColor);
    @media (min-width: 1600px) {
      position: absolute;
    }
  }
  .LogoImg {
    width: torem(110px);
    height: torem(110px);
    cursor: pointer;
    transform: translateX(torem(4px));
  }
  .LeftMenuLkTitle {
    margin: torem(48px) 0px torem(40px) 0px;
    font-size: torem(22px);
    font-weight: 700;
  }
  .LeftMenuLkList {
    list-style: none;
    padding-left: torem(30px);
    width: calc(100% - torem(30px));
    li {
      display: flex;
      position: relative;
      justify-content: start;
      align-items: center;
      margin: torem(10px) torem(0px) 0px 0px;
      height: torem(46px);
      // width: 240px;
      cursor: pointer;
      padding-left: torem(10px);
      box-sizing: border-box;
      border-radius: torem(5px);
      img {
        width: torem(24px);
        height: torem(24px);
        margin-right: torem(10px);
      }
      &:hover {
        background-color: var(--MenuHover);
      }
      .arrow {
        position: absolute;
        z-index: 10;
        right: torem(10px);
        top: 50%;
        transform: translateY(-50%);
        transition: transform 0.15s linear;
        width: torem(34px);
        height: torem(34px);
        &:hover {
          * {
            fill: var(--GreenColorDefault);
            transition: all 0.15s linear;
          }
        }
      }

      .open {
        transform: translateY(-50%) scaleY(-1);
        transition: transform 0.15s linear;
      }
    }
    .Active {
      background-color: var(--MenuHover);
      box-sizing: border-box;
    }
    .listSetings {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s linear;
      width: 100% !important;
      border-radius: torem(5px);
      li {
        padding-left: torem(60px);
        margin-right: 0;
        position: static;
      }
    }

    .addDocl {
      display: flex;
      flex-direction: row;
      padding-left: torem(20px) !important;

      img {
        padding-top: torem(4px);
        width: torem(24px);
        height: torem(24px);
        margin-right: torem(5px);
      }
    }
    .setingOpen {
      height: auto;
      max-height: torem(250px);
      overflow: auto;
      overflow-x: hidden;
      transition: max-height 0.3s linear;
      @include ScrollBar;
      li {
        width: 100%;
        margin-right: 0;
      }
    }
    .repName {
      position: absolute;
      max-width: torem(340px);
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      z-index: 10000;
      right: -400;
      top: 0;
      background-color: #fff;
      padding: torem(10px);
      font-family: Overpass, sans-serif;
      font-size: torem(16px);
      font-weight: 400;
      line-height: torem(19px);
      text-align: left;
      text-underline-position: from-font;
      -webkit-text-decoration-skip-ink: none;
      text-decoration-skip-ink: none;
      color: #5b605e;
      border-radius: torem(6px);
      border: torem(1px) solid #e7eae9;
    }
  }
}
