$w1: 1366px;
$w2: 769px;
$w3: 480px;

.InputList {
  display: flex;
  position: relative;
  flex-direction: column;
  .arrow {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: torem(20px);
    top: 50%;
    transform: translateY(-50%);
    padding-top: torem(5px);
    bottom: 0;
    cursor: pointer;
    box-sizing: border-box;
    img {
      width: torem(14px);
      height: torem(10px);
    }
  }
  .labelText {
    font-family: Overpass, sans-serif;
    font-size: torem(18px);
    font-weight: 500;
    line-height: torem(21px);
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    transform: translateY(torem(5px));
  }
  input {
    width: torem(490px);
    height: torem(64px);
    border-radius: torem(10px);
    border: none;
    border: torem(1px) solid var(--InputColors);
    background-color: inherit;
    margin: torem(15px) 0px;
    padding: torem(20px);
    font-size: torem(20px);
    color: #000;
    box-sizing: border-box;
    cursor: pointer;
    &::placeholder {
      color: var(--InputTextColor);
    }
    &:focus {
      outline: none;
    }
    @media (max-width: $w2) {
      font-size: torem(18px);
      height: torem(54px);
    }
    @media (max-width: $w3) {
      font-size: torem(16px);
    }
  }
  .paddingLeft {
    padding-left: torem(60px);
  }
  .openInput {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .errorInputList {
    border: torem(1px) solid var(--ErrorColor);
  }

  .List {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s linear;
    position: absolute;
    background-color: #f0f3f2;
    z-index: 100;
    bottom: 0;
    width: 100%;
    border: torem(1px) solid #c8d0ce;
    border-radius: torem(10px);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    transform: translateY(calc(100% - torem(16px)));

    ul {
      outline: none;
      list-style: none;
      padding: 0;
      margin: 0;

      overflow-y: auto;
      &::-webkit-scrollbar {
        width: torem(12px); /* Ширина вертикального скролла */
        height: torem(12px); /* Высота горизонтального скролла */
      }

      &::-webkit-scrollbar-track {
        background: #f1f1f1; /* Цвет фона трека скролла */
        border-radius: torem(10px); /* Закругление углов трека */
      }

      &::-webkit-scrollbar-thumb {
        background: #888; /* Цвет ползунка скролла */
        border-radius: torem(10px); /* Закругление углов ползунка */
      }

      &::-webkit-scrollbar-thumb:hover {
        background: #555; /* Цвет ползунка при наведении */
      }
    }
    .active {
      background-color: #00452940;
    }
    li:not(.active) {
      &:hover {
        background-color: #0045290a;
      }
    }
    li {
      display: flex;
      align-items: center;
      min-height: torem(64px);
      padding: torem(20px);
      box-sizing: border-box;
      font-weight: 400;
      font-size: torem(20px);
      @media (max-width: $w2) {
        font-size: torem(18px);
      }
      @media (max-width: $w3) {
        font-size: torem(14px);
        min-height: auto;
        padding: torem(15px) torem(20px);
      }
    }
  }
  .open {
    max-height: torem(560px);
    opacity: 1;
    transition: max-height 0.3s linear;
  }

  .errorText {
    color: var(--ErrorColor);
    font-size: torem(16px);
    margin-top: torem(4px);
    position: absolute;
    right: torem(20px);
    top: 0px;
    padding: 0px torem(5px);
    background-color: #f0f3f2;
  }
  .placeholderClose {
    color: #858b89;
    font-size: torem(16px);
    margin-top: torem(4px);
    position: absolute;
    left: torem(20px);
    top: 0px;
    padding: 0px torem(5px);
    background-color: #f0f3f2;
  }
}
