.Orgwznos {
  margin-top: torem(60px);
  .orgwznos {
    display: flex;
    flex-direction: column;
    .title {
      display: flex;
      flex-direction: row;
      margin-bottom: torem(5px);
      img {
        width: torem(24px);
        height: torem(24px);
      }
      h3 {
        font-family: Overpass, sans-serif;
        font-weight: 600;
        font-size: torem(20px);
        line-height: 130%;
        letter-spacing: 0%;
        padding: 0;
        margin: 0;
        margin-left: torem(5px);
      }
    }
    p {
      font-family: Overpass, sans-serif;
      font-weight: 400;
      font-size: torem(20px);
      line-height: 130%;
      letter-spacing: 0%;
      padding: 0;
      margin: 0;
      max-width: torem(490px);
    }
  }
  .orgwznos_summ {
    display: flex;
    flex-direction: column;
    h3 {
      font-family: Overpass, sans-serif;
      font-weight: 600;
      font-size: torem(20px);
      color: #006d49;
      margin-bottom: torem(30px);
      padding: 0;
      span {
        font-family: Overpass, sans-serif;
        font-weight: 400;
        font-size: torem(20px);
        color: #006d49;
        padding: 0;
        margin: 0;
      }
    }
    .buttons {
      display: flex;
      flex-direction: row;
      button {
        @include ButtonGreen;
        font-size: torem(16px);
        width: torem(244px);
        height: torem(44px);
        &:first-child {
          margin-right: torem(12px);
        }
      }
    }
    .btn_change {
      @include ButtonGreenBorder;
      width: torem(350px);
      height: torem(44px);
    }
  }
  .orgwznos_files {
    h3 {
      font-family: Overpass, sans-serif;
      font-weight: 600;
      font-size: torem(20px);
      color: #333333;
      padding: 0;
      margin: 0;
      margin-bottom: torem(5px);
    }
    span {
      padding: 0;
      margin: 0;
      font-family: Overpass, sans-serif;
      font-weight: 400;
      font-size: torem(20px);
      color: #333333;
    }
    .btn_change {
      @include ButtonGreenBorder;
      width: torem(470px);
      height: torem(44px);
      margin-top: torem(20px);
    }
  }
  .files {
    display: flex;
    flex-direction: row;
    .file_container {
      display: flex;
      flex-direction: column;
      margin-top: torem(20px);
      width: torem(224px);
      &:first-child {
        margin-right: torem(20px);
      }
      .file_box {
        height: torem(122px);
        width: 100%;
        border: torem(2px) solid #858b89;
        border-radius: torem(10px);
      }
      .shablon {
        display: flex;
        justify-content: end;
        button {
          @include ButtonIcon;
          @include HoverActiveOpasity;
          align-items: center;
          margin-top: torem(2px);

          span {
            font-family: Overpass, sans-serif;
            font-weight: 400;
            font-size: torem(16px);
            color: #004529;
            margin: 0;
            margin-right: torem(5px);
            padding: 0;
            padding-top: torem(1px);
          }
        }
      }
    }
  }
}
