$w1: 1366px;
$w2: 769px;
$w3: 480px;

.Orgwznos {
  margin-top: torem(60px);
  @media (max-width: $w2) {
    margin-top: 0;
  }
  .orgwznos {
    display: flex;
    flex-direction: column;
    .title {
      display: flex;
      flex-direction: row;
      margin-bottom: torem(5px);
      img {
        width: torem(24px);
        height: torem(24px);
        @media (max-width: $w2) {
          width: torem(22px);
          height: torem(22px);
        }
      }
      h3 {
        font-family: Overpass, sans-serif;
        font-weight: 600;
        font-size: torem(20px);
        line-height: 130%;
        letter-spacing: 0%;
        padding: 0;
        margin: 0;
        margin-left: torem(5px);
        @media (max-width: $w2) {
          font-size: torem(18px);
          font-weight: 700;
        }
        @media (max-width: $w3) {
          font-size: torem(16px);
        }
      }
    }
    p {
      font-family: Overpass, sans-serif;
      font-weight: 400;
      font-size: torem(20px);
      line-height: 130%;
      letter-spacing: 0%;
      padding: 0;
      margin: 0;
      max-width: torem(490px);
      @media (max-width: $w2) {
        font-size: torem(18px);
        margin-bottom: torem(15px);
      }
      @media (max-width: $w3) {
        font-size: torem(16px);
        max-width: 90%;
        br {
          display: none;
        }
      }
    }
  }
  .orgwznos_summ {
    display: flex;
    flex-direction: column;
    h3 {
      font-family: Overpass, sans-serif;
      font-weight: 600;
      font-size: torem(20px);
      color: #006d49;
      margin-bottom: torem(30px);
      padding: 0;
      @media (max-width: $w2) {
        margin: 0;
      }
      @media (max-width: $w3) {
        font-size: torem(16px);
      }

      span {
        font-family: Overpass, sans-serif;
        font-weight: 400;
        font-size: torem(20px);
        color: #006d49;
        padding: 0;
        margin: 0;
        @media (max-width: $w3) {
          font-size: torem(16px);
        }
      }
    }
    .buttons {
      display: flex;
      flex-direction: row;
      @media (max-width: $w2) {
        margin-bottom: torem(15px);
        margin-top: torem(15px);
      }
      @media (max-width: $w3) {
        margin-bottom: torem(10px);
        margin-top: torem(10px);
      }
      button {
        @include ButtonGreen;
        font-size: torem(16px);
        width: torem(244px);
        height: torem(44px);
        text-wrap: nowrap;
        @media (max-width: $w2) {
          font-size: torem(14px);
          margin-bottom: torem(20px);
        }
        &:first-child {
          margin-right: torem(12px);
        }
      }
    }
    .btn_change {
      @include ButtonGreenBorder;
      width: torem(350px);
      height: torem(44px);
      font-size: torem(18px);
      @media (max-width: $w2) {
        margin-top: torem(15px);
        margin-bottom: torem(15px);
      }
      @media (max-width: $w3) {
        width: 100%;
        font-size: torem(14px);
        margin-top: torem(10px);
        margin-bottom: torem(20px);
      }
    }
  }
  .orgwznos_files {
    h3 {
      font-family: Overpass, sans-serif;
      font-weight: 600;
      font-size: torem(20px);
      color: #333333;
      padding: 0;
      margin: 0;
      margin-bottom: torem(5px);
      @media (max-width: $w3) {
        font-size: torem(16px);
        font-weight: 700;
      }
    }
    span {
      padding: 0;
      margin: 0;
      font-family: Overpass, sans-serif;
      font-weight: 400;
      font-size: torem(20px);
      color: #333333;
      @media (max-width: $w3) {
        font-size: torem(16px);
      }
    }
    .btn_change {
      @include ButtonGreenBorder;
      width: torem(470px);
      height: torem(44px);
      margin-top: torem(20px);
      font-size: torem(18px);
      @media (max-width: $w2) {
        margin-top: torem(15px);
        margin-bottom: torem(15px);
      }
      @media (max-width: $w3) {
        width: 100%;
        font-size: torem(14px);
        margin-top: torem(10px);
        margin-bottom: torem(20px);
      }
    }
  }
  .files {
    display: flex;
    flex-direction: row;
    @media (max-width: $w3) {
      flex-direction: column;
    }
    .file_container {
      display: flex;
      flex-direction: column;
      margin-top: torem(20px);
      width: torem(224px);

      @media (max-width: $w3) {
        width: 100%;
        margin-top: torem(10px);
      }
      &:first-child {
        margin-right: torem(20px);
      }
      .file_box {
        height: torem(122px);
        width: 100%;
        border: torem(2px) solid #858b89;
        border-radius: torem(10px);
        span[name='file_name'] {
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
      }
      .shablon {
        display: flex;
        justify-content: end;
        button {
          @include ButtonIcon;
          @include HoverActiveOpasity;
          align-items: center;
          margin-top: torem(2px);
          img {
            width: torem(24px);
            height: torem(25px);
          }
          span {
            font-family: Overpass, sans-serif;
            font-weight: 400;
            font-size: torem(16px);
            color: #004529;
            margin: 0;
            margin-right: torem(5px);
            padding: 0;
            padding-top: torem(1px);
          }
        }
      }
    }
  }

  span[name='text'] {
    font-size: torem(14px) !important;
    line-height: 120% !important;
    @media (max-width: $w2) {
      font-size: torem(14px) !important;
      width: torem(224px) !important;
    }
  }
  span[name='error_size'] {
    font-size: torem(14px) !important;
    line-height: 120% !important;
    @media (max-width: $w2) {
      font-size: torem(14px) !important;
      width: torem(224px) !important;
    }
  }
  div[name='FileComponent'] {
    width: torem(224px) !important;
    @media (max-width: $w3) {
      width: 100% !important;
    }
  }
}
