$w1: 1366px;
$w2: 769px;
$w3: 480px;

.NotFullyFilled {
  @include PopupContainer;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: torem(70px);
  @media (max-width: $w3) {
    width: 100vw;
    max-width: 100vw;
  }

  .title {
    font-family: Overpass, sans-serif;
    font-size: torem(20px);
    font-weight: 500;
    line-height: torem(26px);
    text-align: center;
    text-underline-position: from-font;
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
    margin-bottom: torem(40px);
    @media (max-width: $w3) {
      font-size: torem(16px);
      line-height: 120%;
    }
  }
  .btnred {
    @include ButtonGreen;
    width: torem(310px);
    height: torem(54px);
    margin: 0 auto;
    @media (max-width: $w3) {
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      font-size: torem(16px);
      padding: 0 torem(20px);
    }
  }
  .galka {
    width: torem(80px);
    height: torem(80px);
    margin: 0 auto;
    margin-bottom: torem(40px);
  }
}
