.ArchiveModulePage {
  .title {
    font-size: torem(32px);
    font-weight: 500;
    margin-bottom: torem(40px);
    color: #333;
  }
  .ArchiveModuleTitle {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .subtitle {
      font-size: torem(24px);
      font-weight: 500;
      color: #333;
      margin-bottom: torem(25px);
    }
    button {
      @include ButtonGreen;
      display: flex;
      justify-content: center;
      align-items: center;
      height: torem(52px);
      width: torem(280px);
      margin-bottom: torem(25px);
    }
  }
  .orgCargCont {
    position: relative;
    display: flex;
    left: -torem(16px);
    top: -torem(11px);
    .orgCargContCards {
      margin: torem(11px) torem(16px);
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      gap: torem(32px);
    }
  }
}
