.NewsModuleAdminPage {
  .NewsModuleAdminPageInner {
    .title {
      font-size: torem(32px);
      font-weight: 500;
      margin-bottom: torem(40px);
      color: #333;
    }
    .NewsTopMenu {
      display: flex;
      justify-content: space-between;
      img {
        width: torem(24px);
        height: torem(24px);
      }
      .NewsTopMenuinput {
        display: flex;
        position: relative;
        img {
          position: absolute;
          top: torem(14px);
          left: torem(15px);
          width: torem(24px);
          height: torem(24px);
        }
        input {
          width: torem(412px);
          height: torem(52px);
          border: torem(1px) solid #c8d0ce;
          background-color: inherit;
          box-sizing: border-box;
          border-radius: torem(10px);
          padding: torem(0px) torem(20px) torem(0px) torem(50px);
          font-size: torem(18px);
          font-weight: 400;
          color: #333;
          &::-webkit-input-placeholder {
            font-size: torem(18px);
            color: #858b89;
          }
          &::-moz-placeholder {
            font-size: torem(18px);
            color: #858b89;
          }
          &:-ms-input-placeholder {
            font-size: torem(18px);
            color: #858b89;
          }
          &::-ms-input-placeholder {
            font-size: torem(18px);
            color: #858b89;
          }
          &::placeholder {
            font-size: torem(18px);
            color: #858b89;
          }
        }
      }

      button {
        @include ButtonGreen;
        display: flex;
        justify-content: center;
        align-items: center;
        height: torem(52px);
        width: torem(280px);
      }
    }
  }
  .notNews {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: torem(22px);
    color: #333;
    margin-top: torem(100px);
  }
  .UnivarsalTableAdmin {
    margin-top: torem(25px);
    width: 100%;
  }
}
