@import "./../../styles/colors.scss";

.HomePage{
    .Title{
        p{
            font-size: 30px;
            font-weight: 900; 
            line-height: 39px;
        }
    }
    .textSection{
        margin: 150px 0px;
        .textSectionIner{
            display: grid;
            grid-template-columns: 50% 50%;
            .textSectionInerText{
                margin-top: 100px;
                .textSectionInerTextTile{
                    margin-bottom: -30px;
                    font-weight: 700;
                }
                p{
                    color: #333333;
                    margin: 50px 0px;
                    font-size: 20px;
                    line-height: 26px;
                    font-weight: 400;
                }
                .textSectionInerTextLine{
                    border-left: 4px solid #58B191;
                    height: 100%;
                    padding-left: 20px;
                }
            }
        }
    }
    .clickerSection{
        margin-bottom: 150px;
        .blockTextCompetitionsInner{
            margin-top: 50px;
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            .blockTextCompetitions{
                color: #333333;
                padding: 30px;
                border: 3px solid var(--GreenColorText);
                width: max-content;
                margin: 15px 7.5px;
                border-radius: 30px;
                max-width: 324px;
                display: flex;
                align-items: center;
                font-size: 20px;
                line-height: 26px;
                max-height: 138px;
                cursor: pointer;
                transition: 0.05s linear all;
                &:hover{
                    background-color: var(--GreenColorText);
                    color: #fff;
                }
            }
        }
    }
    .imgSection{
        margin: 50px 0px 150px 0px;
        .imgSectionInner{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}
