$w1: 1400px;
$w2: 780px;
$w3: 650px;
$w4: 480px;

.logo {
  width: torem(110px);
  height: torem(110px);
  position: absolute;
  top: torem(25px);
  left: torem(25px);
  @media (max-width: $w2) {
    width: torem(60px);
    height: torem(60px);
    top: torem(15px);
    left: torem(15px);
  }
  @media (max-width: 769px) {
    display: none;
  }
}

.NewsPage {
  overflow: hidden;
  width: 100vw;
  margin-bottom: torem(100px);
  max-width: torem(1420px);
  margin: torem(170px) auto 0px auto;
  margin-top: torem(50px);
  @include maxMinContent(146px);
  @media (max-width: $w2) {
    margin-top: torem(70px);
  }

  .NewsPageContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    box-sizing: border-box;
    width: torem(1300px);
    margin: 0 auto;
    margin-top: torem(90px);

    // @media (max-width: $w2) {
    //   grid-template-columns: repeat(2, 1fr);
    // }
    @media (max-width: $w2) {
      margin-top: torem(40px);
      display: none;
    }

    .item {
      display: flex;
      justify-content: center;
    }
    .NoNews {
      text-align: center;
      margin: 0 auto;
      width: 100vw;
      font-family: Overpass;
      font-weight: 300;
      font-size: torem(22px);
      line-height: 120%;
      letter-spacing: 0%;
      color: #333333;
      @media (max-width: $w2) {
        font-size: torem(16px);
      }
    }
  }
  .phone {
    display: none;
    @media (max-width: $w2) {
      display: flex !important;
      flex-wrap: wrap;
      justify-content: center;
      width: calc(100vw - torem(50px));

      .NewsPageContainerInner {
        justify-content: center;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
      }

      .item {
        width: torem(349px);
      }
    }
  }
  .Title {
    display: flex;
    justify-content: center;
    h2 {
      font-size: torem(30px);
      font-weight: 600;
      @media (max-width: $w2) {
        font-size: torem(18px);
        font-weight: 500;
      }
    }
  }
}
.ClickerYears {
  display: flex;
  justify-content: center;
  margin-top: torem(48px);
  @media (max-width: $w2) {
    margin-top: torem(20px);
  }
}
