.newsCard {
  position: relative;
  width: 100%; /* Задаётся ширина карточки через grid */
  overflow: hidden;
  border-radius: 10px;
  box-sizing: border-box;
  padding-top: 40px;
  margin: 16px;
  width: 412px;
  height: max-content;
  @media (max-width: 990px) {
    width: 412px;
    margin: 20px auto;
  }
  @media (max-width: 460px) {
    width: 350px;
  }
  @media (max-width: 380px) {
    width: 300px;
  }
  .newsCardContent {
    position: relative;
    z-index: 2;
    padding: 20px;
    transition: all 0.3s ease-out; /* Добавляем плавный переход для padding */
    background-color: #fff;
    border-radius: 10px;
    .newsCardDate{
      color: var(--GrayOne);
      font-size: 18px;
      line-height: 21px;
    }
    .newsCardTitle{
      font-size: 32px;
      font-weight: 500;
      line-height: 44px;
    }
    .newsCardText{
      color: var(--GraySecond);
      font-size: 20px;
      font-weight: 400;
      line-height: 26px;
    }
  }
  @media (min-width: 990px) {
    &:hover {
      // box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      transform: translateY(-5px);
      cursor: pointer;
      img {
        top: 0; /* При наведении картинка становится видимой полностью */
        transform: scale(1.2); /* Легкое увеличение картинки */
        z-index: 10;
      }
      .newsCardContent {
        padding-top: 280px; /* Изменение отступа только для текущей карточки */
        // background-color: inherit;
      }
    }
  }
  @media (max-width: 990px) {
    padding-top: 290px;
  }

  

  img {
    position: absolute;
    top: 0; /* Изначально картинка частично скрыта сверху */
    left: 0;
    height: auto;
    width: 100%;
    height: auto;
    transition: top 0.3s ease, transform 0.3s ease;
    border-radius: 10px 10px 0 0;
    @media (max-width: 990px) {
      height: 300px;
      object-fit: cover;
    }
  }
}
