$w1: 780px;
$w2: 480px;

.newsCard {
  position: relative;
  width: 100%; /* Задаётся ширина карточки через grid */
  overflow: hidden;
  border-radius: torem(10px);
  box-sizing: border-box;
  padding-top: torem(40px);
  margin: torem(16px);
  width: torem(412px);
  height: max-content;
  @media (max-width: torem(990px)) {
    width: torem(412px);
    margin: torem(20px) torem(20px);
  }
  @media (max-width: torem(460px)) {
    width: torem(350px);
  }
  @media (max-width: torem(380px)) {
    width: torem(300px);
  }
  .newsCardContent {
    position: relative;
    z-index: 2;
    padding: torem(40px) torem(20px);
    transition: all 0.3s ease-out; /* Добавляем плавный переход для padding */
    background-color: #fff;
    border-radius: torem(10px);
    @media (max-width: torem(990px)) {
      padding: torem(20px);
    }
    span {
      font-size: torem(18px);
      color: #858b89;
      margin: 0;
      @media (max-width: torem(990px)) {
        font-size: torem(16px);
      }
      @media (max-width: torem(770px)) {
        font-size: torem(14px);
      }
    }
    .newsCardDate {
      color: var(--GrayOne);
      font-size: torem(18px);
      line-height: torem(21px);
    }
    .newsCardTitle {
      font-size: torem(32px);
      font-weight: 500;
      line-height: torem(44px);
      padding: 0;
      margin: 0;
      padding-top: torem(20px);
      padding-bottom: torem(10px);
      @media (max-width: $w1) {
        font-size: torem(18px);
        padding: 0;
        margin: 0;
      }
    }
    .newsCardText {
      color: var(--GraySecond);
      font-size: torem(20px);
      font-weight: 400;
      line-height: torem(26px);
      @media (max-width: $w1) {
        font-size: torem(16px);
      }
    }
  }
  @media (min-width: torem(990px)) {
    &:hover {
      // box-shadow: 0 torem(8px) torem(16px) rgba(0, 0, 0, 0.2);
      transform: translateY(-torem(5px));
      cursor: pointer;
      img {
        top: 0; /* При наведении картинка становится видимой полностью */
        transform: scale(1.2); /* Легкое увеличение картинки */
        z-index: 10;
      }
      .newsCardContent {
        padding-top: torem(280px); /* Изменение отступа только для текущей карточки */
      }
    }
  }
  @media (max-width: torem(990px)) {
    padding-top: torem(290px);
  }

  img {
    position: absolute;
    top: 0; /* Изначально картинка частично скрыта сверху */
    left: 0;
    height: auto;
    width: 100%;
    height: auto;
    transition:
      top 0.3s ease,
      transform 0.3s ease;
    border-radius: torem(10px) torem(10px) 0 0;
    @media (max-width: torem(990px)) {
      height: torem(300px);
      object-fit: cover;
    }
  }
}
