.newsCard {
  position: relative;
  width: 100%; /* Задаётся ширина карточки через grid */
  overflow: hidden;
  border-radius: 10px;
  // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  // transition: box-shadow 0.3s ease, transform 0.3s ease, height 0.3s ease;
  box-sizing: border-box;
  padding-top: 40px;
  margin: 32px;
  width: 412px;
  height: max-content;
  .newsCardContent {
    position: relative;
    z-index: 2;
    padding: 20px;
    transition: all 0.3s ease-out; /* Добавляем плавный переход для padding */
    background-color: #fff;
    border-radius: 10px;
    .newsCardDate{
      color: #858B89;
      font-size: 18px;
      line-height: 21px;
    }
    .newsCardTitle{
      font-size: 32px;
      font-weight: 500;
      line-height: 44px;
    }
    .newsCardText{
      color: #5B605E;
      font-size: 20px;
      font-weight: 400;
      line-height: 26px;
    }
  }
  &:hover {
    // box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    cursor: pointer;
    img {
      top: 0; /* При наведении картинка становится видимой полностью */
      transform: scale(1.2); /* Легкое увеличение картинки */
      z-index: 10;
    }
    .newsCardContent {
      padding-top: 280px; /* Изменение отступа только для текущей карточки */
      // background-color: inherit;
    }
  }

  

  img {
    position: absolute;
    top: 0; /* Изначально картинка частично скрыта сверху */
    left: 0;
    height: auto;
    width: 100%;
    height: auto;
    transition: top 0.3s ease, transform 0.3s ease;
    border-radius: 10px 10px 0 0;
  }
}
