$w1: 1366px;
$w2: 769px;
$w3: 480px;

.ModalPhoto {
  @media (max-width: $w3) {
    display: none;
  }
  .bacgraund {
    @include PopupBlur;
    z-index: 10001;
  }

  .ProfilePhotoShow {
    z-index: 10003;
    width: calc(torem(550px) + torem(81px));
    height: torem(550px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    flex-direction: row;

    .ProfileImg {
      display: flex;
      width: auto;
      height: auto;
      max-width: 60vw;
      max-height: 100vh;
      // border-radius: 50%;
      object-fit: cover;
    }
    .close {
      transform: translate(torem(23px), torem(-23px));
      width: torem(81px);
      height: torem(81px);
      display: flex;
      cursor: pointer;
      &:hover {
        * {
          stroke: var(--GreenColorHover);
          transition: all 0.15s linear;
        }
      }
    }
  }
}
