$w1: 1366px;
$w2: 769px;
$w3: 480px;

.footer {
  height: torem(265px);
  background-color: var(--GreenColorDefault);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  @media (max-width: $w2) {
    height: torem(208px);
  }
  @media (max-width: $w3) {
    height: auto;
  }

  .footerContainer {
    display: flex;
    width: torem(1345px);
    height: torem(265px);
    padding: torem(40px) 0;
    box-sizing: border-box;
    @media (max-width: $w2) {
      width: 100vw;
      height: torem(208px);
      padding: torem(40px) torem(30px);
    }
    @media (max-width: $w3) {
      height: auto;
      width: 100vw;
      padding: torem(40px) torem(25px);
      flex-direction: column;
    }
    .footerContainerLeft {
      display: flex;
      color: #fff;
      @media (max-width: $w2) {
        width: torem(530px);
      }
      @media (max-width: $w3) {
        width: 100%;
      }
      .logo {
        display: flex;
        width: torem(270px);
        height: torem(195px);
        overflow: hidden;
        @media (max-width: $w2) {
          width: torem(159px);
          height: torem(128px);
        }
        @media (max-width: $w3) {
          display: none;
        }

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
      .footerText {
        display: flex;
        flex-direction: column;
        height: 100%;
        font-size: torem(20px);
        line-height: torem(26px);
        margin-left: torem(30px);
        padding: torem(15px) 0;
        @media (max-width: $w2) {
          height: torem(128px);
          padding: 0;
          margin: 0;
          padding-left: torem(30px);
          box-sizing: border-box;
        }
        @media (max-width: $w3) {
          margin: 0;
          padding: 0;
          padding-bottom: torem(40px);
          height: auto;
        }

        p {
          &:first-child {
            text-transform: uppercase;
            padding: torem(15px) 0px torem(35px) 0px;
            font-size: torem(28px);
            line-height: torem(39px);
            font-weight: 500;
            width: torem(757px);
            @media (max-width: $w2) {
              font-size: torem(18px);
              line-height: 140%;
              letter-spacing: 0%;
              width: torem(340px);
              padding: 0;
              padding-bottom: torem(15px);
            }

            img {
              display: none;
              @media (max-width: $w3) {
                float: left;
                display: flex;
                width: torem(20px);
                height: torem(14px);
                margin-top: torem(3px);
                filter: brightness(0) invert(1);
                margin-right: torem(8px);
              }
            }
          }
          &:last-child {
            margin-bottom: 0px;
            font-size: torem(22px);
            font-weight: 300;
            line-height: torem(26px);
            @media (max-width: $w2) {
              font-weight: 300;
              font-size: torem(16px);
              line-height: 120%;
              letter-spacing: 0%;
              width: torem(206px);
            }
          }
        }
      }
    }
    .footerLink {
      color: #fff;
      display: flex;
      align-items: end;
      margin-left: torem(76px);
      text-align: right;
      @media (max-width: $w2) {
        margin-left: torem(15px);
      }
      @media (max-width: $w3) {
        text-align: left;
        margin: 0;
      }
      p {
        font-size: torem(20px);
        font-weight: 400;
        margin-bottom: torem(5px);
        @media (max-width: $w2) {
          font-weight: 400;
          font-size: torem(16px);
          line-height: 130%;
          letter-spacing: 0%;
        }
      }
      .link {
        display: flex;
        font-size: torem(18px);
        font-weight: 300;
        padding: 0;
        margin: 0;
        text-wrap: nowrap;
        @media (max-width: $w2) {
          width: torem(165px);
          font-size: torem(14px);
        }
        @media (max-width: $w3) {
          width: 100%;
        }

        a {
          text-decoration: underline;
          text-decoration-style: solid;
          text-decoration-thickness: 0%;
          color: var(--ColorLink);
          margin-left: torem(5px);
          cursor: pointer;
          &:hover {
            opacity: 0.6;
          }
        }
      }
    }
  }
}
