@import "./../../styles/colors.scss";

.sliderContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: 150px;
}

.sliderWrapper {
  display: flex;
  transition: transform 1s ease-in-out; /* Плавное изменение позиции слайдов */
}

.slide {
  min-width: 100%;
  display: grid;
  color: white;
  height: 600px;
  overflow: hidden;
  position: relative;

  /* Плавная анимация изменения порядка элементов грида */
  transition: transform 1s ease-in-out;

  .SliderBg {
    background-color: var(--GreenColorDefault); /* Зеленый фон */
    background-position: 0 0; /* Начальная позиция фона */
    width: 100%;
    height: 600px!important;
    z-index: 1;
    position: relative;
    display: flex;
    padding-top: 50px;
    padding-left: 50px;
    box-sizing: border-box;
    color: #fff;
    transition: clip-path 0.5s ease-in-out, background-position 0.5s ease-in-out; /* Плавное изменение фона и clip-path */
    
    .SliderTitle{
      font-size: 32px;
      margin-bottom:30px ;
      font-weight: 700;
    }
    .SliderText{
      font-size: 20px;
      line-height: 26px;
      font-weight: 400;
      p{
        margin: 15px 0px;
      }
    }
  }

  .textContent {
    max-width: 500px;
    z-index: 2;
    font-size: 20px;
    font-weight: 400;
  }

  .Sliderimage {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 0 auto; /* Центрируем изображение */
    z-index: 10;
    height: 600px;
    box-sizing: border-box;
    img {
      height: 600px;
      object-fit: contain; /* Изображение не будет обрезаться */
      box-sizing: border-box;
    }
  }
}
.chet {
  grid-template-columns: 50% 45%;
  .SliderBg {
    background-position: -100% 0; /* Фон будет начинаться слева */
    z-index: 2;
    position: relative;
    animation: slideBack 0.6s ease-in-out forwards;
  }
  .textContent {
    margin-right: 50px;
    text-align: start;
    position: relative;
    left: 100px;
  }
  .allNews {
    right: 15px;
  }
  .Sliderimage {
    position: relative;
    z-index: 1;
    left: -280px;
    height: 600px;
    animation: slideIgTo 0.6s ease-in-out forwards;
    img {
      border-radius: 0 20px 20px 0;
      height: 600px;
      transition: transform 0.6s ease, border-radius 0.5s ease;
    }
  }
}

.nechet {
  grid-template-columns: 50% 45%;
  .allNews {
    left: 0px;
  }
  .textContent {
    margin-right: 50px;
    text-align: start;
    position: relative;
    right: -150px;
  }
  .SliderBg {
    /* Разворачиваем полигон в обратную сторону */
    position: relative;
    z-index: 2;
    background-position: 100% 0; /* Фон будет начинаться справа */
    animation: slide 0.6s ease-in-out forwards;
  }
  .Sliderimage {
    position: relative;
    z-index: 1;
    height: 600px;
    animation: slideIgBack 0.6s ease-in-out forwards;
    transform: translateX(-75%);
    img {
      height: 600px;
      border-radius: 0 20px 20px 0;
      transition: transform 0.6s ease, border-radius 0.5s ease;
    }
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  50%{
    transform: translateX(-100%);
    opacity: 0;
  }
  51%{
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(100%);
    clip-path: polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
    opacity: 1;

  }
}
@keyframes slideBack {
  0% {
    transform: translateX(100%);
    opacity: 1;
  }
  50%{
    transform: translateX(200%);
    opacity: 0;
  }
  51%{
    transform: translateX(0);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    clip-path: polygon(80% 0, 0 0, 0 100%, 100% 100%);
    opacity: 1;

    
  }
}

@keyframes slideIgTo {
  0% {
    transform: translateX(-100%) scale(0.95);
    opacity: 1;
  }
  50% {
    transform: translateX(-50%) scale(1);
    opacity: 0;
  }
  
  100% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

@keyframes slideIgBack {
  0% {
    transform: translateX(100%) scale(0.95);
    opacity: 1;
  }
  50% {
    transform: translateX(50%) scale(1);
    opacity: 0;
  }
  100% {
    transform: translateX(-75%) scale(1);
    opacity: 1;
  }
}


.controls {
  bottom: 100px;
  position: relative;

  .controlsInner{
    position: absolute;
    left: 50%;
    transform: translateX(-58%);
    display: flex;
    justify-content: center;
    padding: 0 50px;
    z-index: 2;
    box-sizing: border-box;
    align-items: center;
    color: #fff;
    font-size: 60px;
  }
  button{
    display: flex;
    align-items: center;
    width: 100px;
    height: 100px;
    span{
      width: 100px;
      height: 100px;
    }
  }
  .arrowLeft{
    transform: rotate(180deg);
    position: relative;
    top: -12px;

  }
}

.arrow {
  background-color: inherit;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  margin: 0px 10px;
  span{
    background-image: url("./../../assets/img/UI/SliderDefault.svg");
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.08s linear all;
    &:hover{
      background-image: url("./../../assets/img/UI/SliderHover.svg");
    }
    &:active{
      background-image: url("./../../assets/img/UI/SliderActive.svg");
    }
  }
}

.allNews {
  background-image: url("./../../assets/img/UI/newsDefault.svg");
  width: 185px;
  height: 46px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 1.5rem;
  transition: 0.08s linear all;
  position: absolute;
  bottom: 15px;
  z-index: 1000;
  cursor: pointer;

  &:hover {
    background-image: url("./../../assets/img/UI/newsHover.svg");
  }

  &:active {
    background-image: url("./../../assets/img/UI/newsActive.svg");
  }
}

