$w1: 1366px;
$w2: 769px;
$w3: 480px;

header {
  height: torem(180px); /* 180px в rem */
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100vw;
  @media (max-width: $w2) {
    height: torem(100px); /* 180px в rem */
  }
  @media (max-width: $w3) {
    top: torem(270px);
  }
  .logo {
    cursor: pointer;
    margin: 0 torem(180px) 0 torem(20px); /* Отступы */
    @media (max-width: $w2) {
      display: none;
    }
    img {
      width: torem(110px);
      height: torem(110px);
    }
  }
  .logoInner {
    display: flex;
    align-items: center;
    z-index: 0;
    @media (max-width: $w2) {
      margin-left: torem(30px);
    }
    @media (max-width: $w3) {
      margin-left: torem(20px);
    }

    img {
      width: torem(110px);
      height: torem(68px);
      @media (max-width: $w2) {
        width: torem(47px);
        height: torem(49px);
      }
      @media (max-width: $w3) {
        width: torem(72px);
        height: torem(72px);
        filter: brightness(0) invert(1);
      }
    }
    p {
      text-transform: uppercase;
      margin-left: torem(20px);
      text-wrap: nowrap;
      font-size: torem(32px);
      font-weight: 400;
      line-height: torem(38px);
      @media (max-width: $w2) {
        font-size: torem(18px);
        line-height: torem(22px);
        width: torem(404px);
        text-wrap: wrap;
      }
      @media (max-width: $w3) {
        font-weight: 600;
        color: #f0f3f2;
        width: torem(273px);
        br {
          display: none;
        }
      }
    }
  }

  .HeaderContainer {
    height: torem(180px); /* 180px в rem */
    display: flex;
    background-color: var(--BodyBgColor);
    align-items: center;
    padding-right: torem(20px);
    border-radius: 0px 0px 50px 0px;
    @media (max-width: $w2) {
      height: torem(100px); /* 180px в rem */
      padding-top: torem(15px);
      border-radius: 0px 0px 30px 0px;
    }
    @media (max-width: $w3) {
      background: none;
      padding: 0;
      max-width: 100vw;
    }
    .TitleText {
      display: flex;
      img {
        width: torem(1000px); /* 1000px в rem */
      }
    }
  }
  .HeaderMenuContainer {
    width: 100vw;
    position: relative;
    @media (max-width: $w2) {
      height: 100%;
    }
  }
  .HeaderMenu {
    position: absolute;
    left: torem(32px);
    top: torem(-90px);
    z-index: 10000;
    @media (max-width: $w2) {
      top: 0;
    }
    @media (max-width: $w3) {
      display: none;
    }
    ul {
      list-style: none;
      margin-left: 0;
      padding-left: 0;
      li {
        margin: torem(20px) 0;
        color: #fff;
        transition: 0.05s linear all;
        display: flex;
        align-items: center;
        font-size: torem(18px);
        @media (max-width: $w1) {
          font-size: torem(22px);
          margin: torem(18px) 0;
        }
        @media (max-width: $w2) {
          font-size: torem(16px);
          margin: torem(10px) 0;
        }
        .arowLi {
          display: none;
        }
        img {
          position: relative;
          left: torem(5px); /* 5px в rem */
          top: torem(2px); /* 2px в rem */
          width: torem(20px); /* 20px в rem */
          height: torem(20px);
          @media (max-width: $w2) {
            width: torem(12px); /* 20px в rem */
            height: torem(12px);
          }
        }
        &:hover {
          padding-left: torem(35px); /* 35px в rem */
          cursor: pointer;
          @media (max-width: $w2) {
            padding-left: torem(10px); /* 35px в rem */
          }
          .arowLi {
            display: block;
          }
        }
      }
    }
  }
  .HeaderLocarion {
    position: absolute;
    right: torem(100px); /* 50px в rem */
    top: torem(65px);
    display: flex;
    text-align: start;
    width: torem(30px);
    color: #fff;
    cursor: pointer;
    img {
      margin-left: torem(5px); /* 5px в rem */
    }
  }
}
