
@font-face {
	font-family: 'REX';
	src: url('./../../assets/fonts/Overpass/overpass-regular.woff') format('woff'),
        url('./../../assets/fonts/Overpass/overpass-regular.woff2') format('woff2'),
        url('./../../assets/fonts/Overpass/overpass-regular.ttf') format('truetype'),
        url('./../../assets/fonts/Overpass/overpass-regular.eot') format('embedded-opentype'),
        url('./../../assets/fonts/Overpass/overpass-regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


header{
    height: 180px;
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    .logo{
        margin: 0px 180px 0px 20px;
    }
    .HeaderContainer{
        display: flex;
        .TitleText{
            display: flex;
            img{
                width: 1000px;
            }
            }
    }
    .HeaderMenu{
        margin-top: 10px;
        width: 400px;
        ul{
            list-style: none;
            margin-left: 80px;
            li{
               margin: 20px;
               color: #fff;
               transition: 0.05s linear all;
               display: flex;
               align-items: center;
               .arowLi{
                display: none;
               }
               img{
                position: relative;
                left: 5px;
                top: 2px;
               }
               &:hover{
               padding-left: 35px;
               cursor: pointer;
               .arowLi{
                display: block;
               }
               }
            }
        }
    }
    .HeaderLocarion{
        position: relative;
        right: -50px;
        top: -60px;
        display: flex;
        img{
            margin-left: 5px;
        }
    }

}

