.AddOrgPeople {
  .AddOrgPeopleInner {
    background-color: #fff;
    border-radius: torem(28px);
    padding: torem(20px);
    width: torem(354px);
    height: torem(579px);
    box-sizing: border-box;
    position: relative;
    .AddOrgPeopleFile {
      background-image: url('./../../../assets/img/AdminPanel/addPhoto.svg');
      width: torem(322px);
      height: torem(230px);
      background-size: contain;
      background-repeat: no-repeat;
    }
    .AddOrgPeopleInput {
      display: flex;
      flex-direction: column;
      margin-top: torem(15px);
      position: relative;

      label {
        font-size: torem(18px);
        font-weight: 500;
        margin-bottom: torem(10px);
      }
      input,
      textarea {
        width: 100%;
        min-height: torem(51px);
        background: none;
        border: none;
        padding: torem(15px);
        box-sizing: border-box;
        border: torem(1px) solid #c8d0ce;
        border-radius: torem(10px);
        font-size: torem(18px);
      }
      textarea {
        resize: none;
        font-size: torem(18px);
        overflow-y: auto;
      }
    }

    .file_cont {
      display: flex;
      position: relative;
      width: auto;
      height: auto;
      border: torem(2px) dashed #c8d0ce;
      height: torem(230px);
      width: 100%;
      border-radius: torem(10px);
      box-sizing: border-box;
      .border_inner {
        width: 100%;
        height: torem(230px);
        border-radius: torem(10px);
        box-sizing: border-box;
      }
    }
    .AddOrgPeopleButton {
      display: flex;
      margin-top: torem(10px);
      justify-content: space-between;
      position: absolute;
      bottom: torem(20px);
      .save {
        @include ButtonGreen();
        width: torem(243px);
        height: torem(54px);
      }
      .delete {
        @include ButtonRed();
        border-radius: torem(8px);
        height: torem(54px);
        width: torem(54px);
        margin-left: torem(15px);
        border: torem(1px) solid #b32020;
      }
    }
    .error {
      position: absolute;
      color: var(--ErrorColor);
      background-color: #fff;
      padding: torem(5px);
      top: torem(16px);
      right: torem(15px);
    }
  }
}
