.RecoverPasswordPage {
  width: 100%;
  margin-bottom: torem(150px);
  @media (max-width: $w2) {
    margin-bottom: torem(100px);
  }
  @media (max-width: $w3) {
    margin-bottom: torem(70px);
  }
}
