@import '../../../styles/colors.scss';
@import '../../../styles/mixin.scss';

.DocumentsLk {
  width: 100%;
  position: relative;
  margin: 0 auto;

  .notDocument {
    display: flex;
    justify-content: center;
    // height: calc(100vh - 356px);
    margin-top: 225px;
    .notDocumentInner {
      .notDocumentInnerImg {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
        img {
          width: 40px;
          height: 40px;
        }
      }
      .notDocumentTitle {
        p {
          font-size: 32px;
          font-weight: 500;
          color: var(--GrayTextDefault);
          text-align: center;
        }
      }
      .notDocumentSubTitle {
        margin: 5px 0px 20px 0px;

        p {
          font-size: 20px;
          font-weight: 400;
          color: var(--GraySecond);
        }
      }
      .notDocumentButton {
        display: flex;
        justify-content: center;
        button {
          @include ButtonGreen(18px);
          width: 189px;
          height: 52px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 13px;
          img {
            margin-right: 10px;
            width: 24px;
            height: 24px;
          }
          span {
            font-family: Overpass, sans-serif;
            font-size: 22px;
            font-weight: 500;
            text-align: center;
          }
        }
      }
    }
  }
}
