$w1: 1366px;
$w2: 769px;
$w3: 480px;

.ViewReports {
  width: torem(1170px);
  @media (max-width: $w2) {
    width: 100vw;
    padding: torem(34px) torem(30px);
    padding-bottom: torem(89px);
  }
  @media (max-width: $w3) {
    padding: torem(5px) torem(20px);
    padding-bottom: torem(137px);
    padding-top: torem(50px);
  }

  //! попап
  .modal_container {
    @include PopupBlur;
    @media (max-width: $w2) {
      height: 100vh;
    }
    .modal_delete_report {
      @include PopupContainer;
      padding: 0 torem(158px);
      br {
        display: none;
      }
      @media (max-width: $w2) {
        width: calc(100vw - torem(200px));
        padding: torem(70px) torem(40px);
        br {
          display: block;
        }
      }
      @media (max-width: $w3) {
        width: calc(100vw - torem(20px));
        padding: torem(70px) torem(10px);
        br:first-child {
          display: none;
        }
      }
    }
    h2 {
      @include PopupTitle;
    }
    .button_container {
      display: flex;
      flex-direction: row;
      .cancle {
        @include ButtonGreen;
        margin-right: torem(20px);
        width: torem(160px);
        height: torem(54px);
        font-size: torem(20px);
      }

      .delete {
        @include ButtonRedBorder;
        width: torem(160px);
        height: torem(54px);
        font-size: torem(20px);
      }
    }
  }

  .ViewReportsInner {
    display: flex;
    justify-content: start;
    @media (max-width: $w2) {
      flex-direction: column;
    }
    .ViewReportsInnerFirst {
      max-width: torem(560px);
      min-width: torem(560px);
      margin-right: torem(35px);
      @media (max-width: $w3) {
        margin-bottom: torem(15px);
      }
      @media (max-width: $w2) {
        max-width: auto;
        min-width: auto;
        margin-right: 0;
      }

      .ViewReportsBlock {
        margin-bottom: torem(20px);
        @media (max-width: $w3) {
          margin-bottom: torem(15px);
        }
        .ViewReportsTitle {
          @include TextStrong;
          margin-bottom: torem(10px);

          @media (max-width: $w2) {
            margin-bottom: torem(5px);
          }
          @media (max-width: $w3) {
            margin-bottom: 0px;
          }
        }
        p {
          @include TextDefault;
        }
      }
    }
    .ViewReportsInnerSecond {
      max-width: torem(540px);
      margin-left: torem(35px);
      @media (max-width: $w2) {
        max-width: auto;
        margin: 0;
      }
      .ViewReportsTitle {
        margin-bottom: torem(10px);
        @include TextStrong;
      }
      .name {
        @include TextDefault;
        margin-bottom: torem(5px);
        font-weight: 500;
      }
      ul {
        margin-top: 0;
        padding-left: torem(16px);
        margin-bottom: torem(20px);
        li {
          @include TextDefault;
          margin: torem(3px) 0px;
          display: flex;
          flex-direction: row;
          align-items: top;
          span {
            margin-right: torem(10px);
            font-weight: 700;
            font-size: torem(20px);
          }
          p {
            font-size: torem(20px);
          }
        }
      }
    }
  }
  .fileLouders {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: torem(40px);
    @media (max-width: $w2) {
      margin-top: torem(30px);
    }
    @media (max-width: $w3) {
      margin-top: torem(15px);
      flex-direction: column;
    }
    .fileLoudersInner {
      position: relative;
      max-width: torem(540px);
    }
    .fileLoudersTitle {
      @include TextStrong;
      margin-bottom: torem(10px);
    }
    .fileContur {
      margin-top: torem(10px);
      position: relative;
      height: -webkit-max-content;
      height: -moz-max-content;
      height: max-content;
      @media (max-width: $w3) {
        &:last-child {
          padding-top: torem(15px);
        }
      }

      .blockFile {
        display: flex;
        padding-top: torem(20px);
        justify-content: center;
        border: torem(1.5px) solid #858b89;
        width: torem(548px);
        height: torem(158px);
        border-radius: torem(10px);
        background-color: #fff;
        transition: all 0.15s linear;
        cursor: pointer;
        &:hover {
          background-color: #0045290a;
          transition: all 0.15s linear;
        }
        @media (max-width: $w2) {
          width: torem(340px);
          height: torem(158px);
        }

        img {
          width: torem(65px);
          height: torem(63px);
        }
      }

      .blockFileNoFile {
        background-color: var(--BodyBgColor);
      }

      .trash {
        cursor: pointer;
        position: absolute;
        right: torem(15px);
        top: torem(15px);
        padding: torem(5px);
        border-radius: torem(5px);
        @include HoverActive;
      }
      .fileName {
        display: flex;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        bottom: torem(8px);
        width: torem(244px);
        height: torem(60px);
        // background-color: var(--BodyBgColor);
        z-index: 10;
        padding-top: torem(5px);
        box-sizing: border-box;
        pointer-events: none;
        overflow: hidden;

        span {
          font-family: Overpass, sans-serif;
          font-size: torem(16px);
          font-weight: 400;
          line-height: torem(19px);
          text-align: center;
          text-underline-position: from-font;
          -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
          color: #858b89;
        }
      }
    }
  }
  .EditDataReport {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: torem(40px);
    @media (max-width: $w2) {
      margin-top: torem(50px);
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }
    @media (max-width: $w3) {
      margin-top: torem(30px);
      flex-direction: column;
    }
    .button_edit {
      @include ButtonGreen;
      width: torem(412px);
      height: torem(64px);
      margin: 0 auto;
      margin-bottom: torem(15px);
      font-size: torem(20px);
      @media (max-width: $w2) {
        width: torem(340px);
        height: torem(54px);
        padding: 0;
        margin: 0;
        font-size: torem(18px);
      }
      @media (max-width: $w3) {
        margin-bottom: torem(10px);
        font-size: torem(16px);
      }
    }
    .button_delete {
      @include ButtonRedBorder;
      margin: 0 auto;
      width: torem(412px);
      height: torem(64px);
      font-size: torem(20px);
      svg {
        width: torem(24px);
        height: torem(24px);
      }
      @media (max-width: $w2) {
        width: torem(340px);
        height: torem(54px);
        padding: 0;
        margin: 0;
        font-size: torem(18px);
      }
      @media (max-width: $w3) {
        font-size: torem(16px);
      }
    }
  }
  .repName {
    position: absolute;
    max-width: torem(340px);
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
    z-index: 100;
    left: 0;
    top: 0;
    background-color: #fff;
    padding: torem(10px);
    font-family: Overpass, sans-serif;
    font-size: torem(16px);
    font-weight: 400;
    line-height: torem(19px);
    text-align: left;
    text-underline-position: from-font;
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
    color: #5b605e;
    border-radius: torem(6px);
    border: torem(1px) solid #e7eae9;
  }
}
