@import '../../../styles/colors.scss';
@import '../../../styles/mixin.scss';

.ViewReports {
  width: torem(1170px);

  //! попа
  .modal_container {
    @include PopupBlur;
    .modal_delete_report {
      @include PopupContainer;
      padding: 0 torem(158px);
    }
    h2 {
      @include PopupTitle;
    }
    .button_container {
      display: flex;
      flex-direction: row;
      .cancle {
        @include ButtonGreen;
        margin-right: torem(20px);
        width: torem(160px);
        height: torem(54px);
      }

      .delete {
        @include ButtonRedBorder;
        width: torem(160px);
        height: torem(54px);
      }
    }
  }

  .ViewReportsInner {
    display: flex;
    justify-content: start;
    .ViewReportsInnerFirst {
      max-width: torem(560px);
      min-width: torem(560px);
      margin-right: torem(35px);

      .ViewReportsBlock {
        margin-bottom: torem(20px);
        .ViewReportsTitle {
          @include TextStrong;
          margin-bottom: torem(10px);
        }
        p {
          @include TextDefault;
        }
      }
    }
    .ViewReportsInnerSecond {
      max-width: torem(540px);
      margin-left: torem(35px);
      .ViewReportsTitle {
        margin-bottom: torem(10px);
        @include TextStrong;
      }
      .name {
        @include TextDefault;
        margin-bottom: torem(5px);
        font-weight: 500;
      }
      ul {
        margin-top: 0;
        padding-left: torem(16px);
        margin-bottom: torem(20px);
        li {
          @include TextDefault;
          margin: torem(3px) 0px;
        }
      }
    }
  }
  .fileLouders {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: torem(40px);
    .fileLoudersInner {
      position: relative;
      max-width: torem(540px);
    }
    .fileLoudersTitle {
      @include TextStrong;
      margin-bottom: torem(10px);
    }
    .fileContur {
      margin-top: torem(10px);
      position: relative;
      height: max-content;

      .blockFile {
        width: torem(546px);
        height: torem(155px);
        border-radius: torem(10px);
        fill: #fff;
        transition: all 0.15s linear;
        cursor: pointer;
        &:hover {
          background-color: #0045290a;
          fill: #e7eae9;
          transition: all 0.15s linear;
        }
      }
      .trash {
        cursor: pointer;
        position: absolute;
        right: torem(15px);
        top: torem(15px);
        padding: torem(5px);
        border-radius: torem(5px);
        @include HoverActive;
      }
      .fileName {
        display: flex;
        justify-content: center;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        bottom: torem(8px);
        width: torem(244px);
        height: torem(60px);
        // background-color: var(--BodyBgColor);
        z-index: 10;
        padding-top: torem(5px);
        box-sizing: border-box;
        pointer-events: none;

        span {
          font-family: Overpass, sans-serif;
          font-size: torem(16px);
          font-weight: 400;
          line-height: torem(19px);
          text-align: center;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          color: #858b89;
        }
      }
    }
  }
  .EditDataReport {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: torem(40px);
    .button_edit {
      @include ButtonGreen;
      width: torem(412px);
      height: torem(64px);
      margin: 0 auto;
      margin-bottom: torem(15px);
      font-size: torem(20px);
    }
    .button_delete {
      @include ButtonRedBorder;
      margin: 0 auto;
      width: torem(412px);
      height: torem(64px);
      font-size: torem(20px);
    }
  }
  .repName {
    position: absolute;
    max-width: torem(340px);
    z-index: 100;
    left: 0;
    top: 0;
    background-color: #fff;
    padding: torem(10px);
    font-family: Overpass, sans-serif;
    font-size: torem(16px);
    font-weight: 400;
    line-height: torem(19px);
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #5b605e;
    border-radius: torem(6px);
    border: torem(1px) solid #e7eae9;
  }
}
