.AddNews{
   .buttonBack{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 54px;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 40px;
    color: #333;
    border: none;
    background: none;
    cursor: pointer;
   }
   .addNewsCont{
    display: flex;
    justify-content: end;
    width: 100%;
    margin-top: 25px;
        .addNews{
            @include ButtonGreen;
            width: 280px;
            height: 52px;
       }
   }
   textarea{
    background: none;
    border: 1px solid var(--InputTextColor);
    width: 100%;
    resize: none;
    border-radius: 10px;
    min-height: 110px;
    font-size: 18px;
    padding: 20px;
    box-sizing: border-box;
   }
   label{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
   }
   .addNewsTextBlockTwo{
    display: grid;
    margin-top: 25px;
    grid-template-columns: 2fr 2fr;
    gap: 32px;
    textarea{
        height: 500px;
    }
    .addFile{
        display: flex;
        flex-direction: column;
        position: relative;
        label{
          margin: 0px;
        }
       .addFileInner{
        height: 500px;
       }
    }
   }
}