.OrgWznosModuleAdminPage {
  width: calc(100vw - torem(470px));
  img {
    width: torem(24px);
    height: torem(24px);
  }
  h1 {
    font-family: Overpass, sans-serif;
    font-weight: 500;
    font-size: torem(32px);
    line-height: torem(44px);
    letter-spacing: 0%;
    color: #333333;
    padding: 0;
    margin: 0;
    margin-bottom: torem(40px);
  }
  .head_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: torem(52px);
  }
  .left_block {
    display: flex;
    width: torem(412px);
    border: torem(1px) solid #c8d0ce;
    border-radius: torem(10px);
    padding: torem(14px) torem(15px);
    img {
      width: torem(24px);
      height: torem(24px);
      margin-right: torem(10px);
    }
    input {
      border: none;
      width: 100%;
      height: 100%;
      font-family: Overpass, sans-serif;
      font-weight: 400;
      font-size: torem(18px);
      color: #333333;
      background: none;
      outline: none;
      &:focus::-webkit-input-placeholder {
        color: transparent;
      }
      &:focus::-moz-placeholder {
        color: transparent;
      }
      &:focus:-ms-input-placeholder {
        color: transparent;
      }
      &:focus::-ms-input-placeholder {
        color: transparent;
      }
      &:focus::placeholder {
        color: transparent;
      }
    }
  }
  .save {
    @include ButtonGreen();
    width: torem(280px);
    height: 100%;
    font-size: torem(20px);
  }
}
