.ClickerYears {
  display: flex;
  font-size: 18px;
  .Active {
    opacity: 1 !important;
  }
  .ClickerYearsEl {
    cursor: pointer;
    border: #001c14 1px solid;
    background-color: #0045290a;
    color: #001c14;
    border-radius: 10px;
    width: 98px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 12px;
    @include HoverActiveOpasity;
    opacity: 0.3;

    img {
      margin-left: 5px;
      position: relative;
      top: -1px;
    }
  }
}
