$w1: 1366px;
$w2: 769px;
$w3: 480px;

.photoGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: torem(10px); /* Убираем отступы между элементами */
  max-width: torem(1300px);
  margin: 0 auto;

  @media (max-width: $w2) {
    width: 100vw;
    padding: torem(90px) torem(30px);
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: $w3) {
    grid-template-columns: repeat(1, 1fr);
  }
  a {
    height: max-content;
  }
  .photoItem {
    width: 100%; /* Растягиваем по ширине колонки */
    height: torem(300px);
    overflow: hidden; /* Обрезаем лишнее */
    position: relative;
    transition: 0.1s linear all;
    border-radius: torem(10px);
    cursor: pointer;
    @media (max-width: 1260px) {
      height: torem(250px);
    }
    @media (max-width: 460px) {
      height: torem(300px);
    }

    &:hover {
      .photo {
        scale: 1.1;
      }
      .linkArrow {
        opacity: 1;
      }
    }
    .photo {
      width: 100%; /* Растягиваем изображение по контейнеру */
      height: 100%; /* Заполняем контейнер полностью */
      -o-object-fit: cover;
      object-fit: cover; /* Обрезаем изображение, чтобы оно полностью заполняло контейнер */
      border-radius: torem(10px);
      -o-object-position: top;
      object-position: top;
      transition: 0.2s linear all;
    }

    .linkArrow {
      position: absolute;
      right: torem(20px);
      top: torem(15px);
      width: torem(38px);
      height: torem(38px);
      opacity: 0;
      transition: 0.2s linear all;
    }
    .photoTitleWrapper {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: torem(60px);
      background: rgba(0, 28, 20, 0.25);
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      z-index: 5;
      border-radius: 0px 0px torem(10px) torem(10px);
      display: flex;
      align-items: center;
      justify-content: center;
      padding: torem(5px) torem(10px);
      box-sizing: border-box;
      text-align: center;
      @media (max-width: 1260px) {
        height: torem(40px);
      }
      .photoTitle {
        width: 100%;
        color: #fff;
        font-size: torem(18px);
        font-weight: 700;
        z-index: 10;
      }
    }
  }
  .repName {
    position: fixed;
    max-width: torem(340px);
    z-index: 100;
    left: 0;
    top: 0;
    background-color: #fff;
    padding: torem(10px);
    font-family: Overpass, sans-serif;
    font-size: torem(16px);
    font-weight: 400;
    line-height: torem(19px);
    text-align: left;
    text-underline-position: from-font;
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
    color: #5b605e;
    border-radius: torem(6px);
    border: torem(1px) solid #e7eae9;
  }
}
