$w1: 1366px;
$w2: 769px;
$w3: 480px;

.Input {
  display: flex;
  position: relative;
  flex-direction: column;
  .leftImg {
    position: absolute;
    left: torem(25px);
    top: 50%;
    transform: translateY(-50%);
    width: torem(24px);
    height: torem(24px);
    @media (max-width: $w3) {
      width: torem(18px);
      height: torem(18px);
      left: torem(15px);
    }
  }
  .errorListImg {
    position: absolute;
    right: torem(25px);
    top: torem(0px);
    background-color: var(--BodyBgColor);
    border-radius: 50%;
    margin: 0 torem(7px);
    cursor: pointer;
    width: torem(31px);
    height: torem(31px);
  }
  .errorListLabelImg {
    display: flex;
    width: torem(22px);
    height: torem(22px);
  }
  .errorsListContainer {
    position: absolute;
    background-color: #fff;
    z-index: 1000;
    // top: calc(-100% - torem(70px));
    bottom: calc(100% + torem(10px));
    right: 0;
    padding: torem(10px);
    border-radius: torem(6px);

    @media (max-width: $w3) {
      right: torem(50px) !important;
      // top: calc(-100% - torem(30px));
    }

    ul {
      outline: none;
      list-style: none;
      padding: 0;
      margin: 0;
    }
    li {
      font-family: 'Overpass', sans-serif;
      font-size: torem(16px);
      font-weight: 400;
      text-align: left;
      text-underline-position: from-font;
      -webkit-text-decoration-skip-ink: none;
      text-decoration-skip-ink: none;
      height: torem(24px);
      display: flex;
      flex-direction: row;
      align-items: end;
      color: #5b605e;
      @media (max-width: $w3) {
        font-size: torem(14px);
      }
      img {
        margin-right: torem(4px);
        width: torem(24px);
        height: torem(24px);
        @media (max-width: $w3) {
          margin-right: torem(2px);
          width: torem(20px);
          height: torem(20px);
        }
      }
    }
  }

  .erroListLabelContainer {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    bottom: 100%;
    right: torem(-25px);
    bottom: calc(100% + torem(10px));
  }

  .labelText {
    font-family: Overpass, sans-serif;
    font-size: torem(18px);
    font-weight: 500;
    line-height: torem(21px);
    text-align: left;
    text-underline-position: from-font;
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
    transform: translateY(torem(5px));
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    .errorListLabel {
      margin-left: torem(10px);
      width: torem(24px);
      height: torem(24px);
    }
  }

  .rigthImg {
    display: flex;
    width: torem(34px);
    padding-right: torem(10px);
    height: torem(24px);
    position: absolute;
    right: torem(5px);
    top: calc(50%);
    transform: translateY(-50%);
    cursor: pointer;
    // z-index: 1000;
    background-color: var(--BodyBgColor);
  }

  input {
    padding-top: torem(4px);
    width: torem(490px);
    height: torem(64px);
    border-radius: torem(10px);
    border: none;
    border: torem(1px) solid var(--InputColors);
    background-color: inherit;
    margin: torem(15px) 0px;
    font-size: torem(20px);
    color: #000;
    box-sizing: border-box;
    padding-left: torem(25px);
    &::-webkit-input-placeholder {
      color: var(--InputTextColor);
    }
    &::-moz-placeholder {
      color: var(--InputTextColor);
    }
    &:-ms-input-placeholder {
      color: var(--InputTextColor);
    }
    &::-ms-input-placeholder {
      color: var(--InputTextColor);
    }
    &::placeholder {
      color: var(--InputTextColor);
    }
    &:focus {
      outline: none;
    }
    @media (max-width: $w2) {
      font-size: torem(18px);
      height: torem(54px);
    }
    @media (max-width: $w3) {
      font-size: torem(16px);
    }
  }

  .padding_left {
    padding-left: torem(60px);
    @media (max-width: $w3) {
      padding-left: torem(45px);
    }
  }

  .errorInput {
    border: torem(1px) solid var(--ErrorColor);
  }

  .errorText {
    color: var(--ErrorColor);
    font-size: torem(16px);
    margin-top: torem(4px);
    position: absolute;
    right: torem(20px);
    top: torem(-25px);
    padding: 0px torem(5px);
    background-color: #f0f3f2;
    transform: translateY(torem(25px));
    @media (max-width: $w2) {
      right: torem(15px);
      top: torem(-30px);
    }
  }
  .placeholderClose {
    color: #858b89;
    font-size: torem(16px);
    margin-top: torem(4px);
    position: absolute;
    left: torem(20px);
    top: 0px;
    padding: 0px torem(5px);
    background-color: #f0f3f2;
    @media (max-width: $w2) {
      top: torem(-6px);
    }
  }
}
