$w1: 1366px;
$w2: 769px;
$w3: 480px;

.RightMenuLkhide {
  width: 0 !important;
  min-width: 0 !important;
  border: none !important;
}

.RightMenuLk {
  @media (max-width: $w2) {
    display: none;
  }
  padding: torem(10px) 0 0 torem(20px);
  display: block;
  border-left: torem(1px) solid var(--InputColors);
  width: torem(310px);
  min-width: torem(310px);
  @include maxMinContent();
  box-sizing: border-box;
  position: relative;
  .RightMenuLkContainer {
    .RightMenuLkList {
      display: flex;
      justify-content: center;
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: block;

        li {
          color: var(--GreenColorDefault);
          display: flex;
          align-items: center;
          cursor: pointer;
          font-size: torem(18px);
          font-weight: 700;
          position: relative;

          &:hover {
            color: var(--GreenColorHover);
            .arrowTopMenu {
              transform: rotate(0deg);
            }
          }

          &:active {
            color: var(--GreenColorClick);
          }

          .arrowTopMenu {
            margin-left: torem(10px);
            height: torem(10px);
            transform: rotate(180deg);
            transition: 0.1s linear all;
          }

          &.dropdownMenu {
            position: relative;

            .subMenu {
              position: absolute;
              top: 100%;
              left: 0;
              list-style: none;
              padding: 0;
              margin: 0;
              z-index: 10;

              li {
                padding: torem(10px) torem(15px);
                color: var(--GreenColorDefault);
                font-size: torem(18px);
                font-weight: 700;
                display: flex;
                align-items: center;

                &:hover {
                  background-color: var(--MenuHover);
                  color: var(--GreenColorHover);
                }
              }
            }
          }
        }
      }
    }
  }
  .RightMenuText {
    position: absolute;
    bottom: torem(63px);
    right: torem(20px);
    width: torem(210px);
    text-align: end;
    color: var(--InputTextColor);
    line-height: torem(19px);
    font-size: torem(16px);
    .RightMenuTextCont {
      margin-bottom: torem(20px);
    }
    .RightMenuTextGroup {
      font-weight: 700;
    }
    P {
      font-weight: 500;
    }
  }
}
