.ColaboratorsModuleAdminPage {
  h1 {
    font-family: Overpass, sans-serif;
    font-weight: 500;
    font-size: torem(32px);
    color: #333333;
    padding: 0;
    margin: 0;
    margin-bottom: torem(40px);
  }
}
