.LeftMenuAdminPage {
  padding: torem(10px) 0px 0px torem(20px);
  display: block;
  border-right: torem(1px) solid var(--InputColors);
  width: torem(310px);
  min-width: torem(310px);
  @include maxMinContent();
  height: auto;
  box-sizing: border-box;
  .LeftMenuAdminPageInner {
    position: fixed;
    width: torem(310px);
    min-width: torem(310px);
    z-index: 1000;
    .LogoImg {
      width: torem(110px);
      height: torem(110px);
      cursor: pointer;
      transform: translateX(torem(4.5px));
      // opacity: 0;
    }
    .Title {
      font-size: torem(22px);
      font-weight: 700;
      margin: torem(48px) 0px torem(20px) 0px;
    }
    .LeftMenuLkList {
      list-style: none;
      padding-left: torem(00px);
      a {
        text-decoration: none;
        color: inherit;
      }
      .active {
        background-color: var(--MenuHover);
        box-sizing: border-box;
      }
      li {
        display: flex;
        position: relative;
        justify-content: start;
        align-items: center;
        margin: torem(10px) torem(33px) 0px 0px;
        height: torem(46px);

        // width: 240px;
        cursor: pointer;
        padding-left: torem(10px);
        box-sizing: border-box;
        border-radius: torem(5px);
        img {
          width: torem(24px);
          height: torem(24px);
          margin-right: torem(10px);
        }
        &:hover {
          background-color: var(--MenuHover);
        }
        .arrow {
          position: absolute;
          z-index: 10;
          right: torem(10px);
          top: 50%;
          transform: translateY(-50%);
          transition: transform 0.15s linear;

          &:hover {
            * {
              fill: var(--GreenColorDefault);
              transition: all 0.15s linear;
            }
          }
        }

        .open {
          transform: translateY(-50%) scaleY(-1);
          transition: transform 0.15s linear;
        }
      }
    }
  }
}
