.AdminPage {
  display: flex;
  width: 100vw;
  min-height: 100vh;
  justify-content: space-between;
  .AdminPageContainer {
    padding: 50px 32px;
    box-sizing: border-box;
    position: relative;
    width: 100%;
  }
}
