.AdminPage {
    display: flex;
    width: 100%;
    justify-content: space-between;
    .AdminPageContainer {
      padding: 50px 80px;
      box-sizing: border-box;
      position: relative;
    }
  }
  