.collection_element {
  display: flex;
  align-items: center;
  gap: 10px;
  img {
    width: 24px;
    height: 24px;
  }
  .collection_element_text {
    color: #333333;
    text-decoration: none;
    font-size: 22px;
    @media (max-width: $w2) {
      font-size: 18px;
    }
  }

  .active_text {
    color: #005935;
    text-decoration: underline;
  }
}
