@import "../../styles/colors.scss";

.ConfirmLogin {
  .ConfirmLoginLogo {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 70px;
    margin-top: 60px;
    img {
      width: 169px;
      height: 169px;
    }
  }
  .ConfirmLoginTitle {
    p {
      font-family: Overpass, sans-serif;
      font-size: 32px;
      font-weight: 900;
      line-height: 38.4px;
      text-align: center;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;

      text-align: center;
      color: var(--GrayTextDefault);
      &:first-child {
        font-size: 32px;
        line-height: 38px;
        font-weight: 900;
        margin: 40px 0px 20px 0px;
      }
    }
  }
  .ConfirmLoginGalca {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    .ConfirmLoginGalcaImg {
      display: flex;
      justify-content: center;
      margin: 20px 0px;
    }
    .ConfirmLoginGalcaText {
      font-family: Overpass, sans-serif;
      font-size: 20px;
      font-weight: 400;
      line-height: 26px;
      text-align: center;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      padding-top: 20px;
    }
    p {
      max-width: 856px;
      font-size: 20px;
      color: var(--GrayTextDefault);
    }
    .mail {
      color: var(--GreenLinkSecond);
    }
  }
  .netDostupa {
    margin-bottom: 70px;
    p {
      cursor: pointer;
      font-family: Overpass, sans-serif;
      font-size: 20px;
      font-weight: 400;
      line-height: 26px;
      text-align: center;
      text-decoration-line: underline;
      text-decoration-style: solid;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #006d49;
      &:hover {
        transition: all 0.1s linear;
        color: var(--GreenColorHover);
      }
      &:active {
        transition: all 0.1s linear;
        color: var(--GreenColorActive);
      }
    }
  }
  .code {
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
    font-size: 20px;
    color: var(--GrayTextDefault);
    p {
      font-family: Overpass, sans-serif;
      font-size: 20px;
      font-weight: 400;
      line-height: 26px;
      text-align: center;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #333333;
    }
  }
  .codeInput {
    display: flex;
    justify-content: center;
    color: var(--GrayTextDefault);
    .codeInputInner {
      display: flex;
      justify-content: space-between;
      width: 634px;
    }
    input {
      width: 79px;
      border: none;
      border-bottom: 3px solid var(--GrayTextDefault);
      height: 100px;
      font-size: 84px;
      line-height: 100px;
      text-align: center;
      background-color: inherit;
      &:focus {
        outline: none;
      }
    }
    .error {
      border-bottom: 3px solid var(--ErrorColor);
    }
  }
  .CodeSubmit {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    .CodeSubmitCode {
      display: flex;
      font-size: 18px;
      button {
        border: none;
        font-size: 18px;
        background-color: inherit;
      }
      p {
        margin-left: 5px;
        color: var(--GreenColorDefault);
        font-size: 18px;
      }
    }
  }

  .submitButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px 0px 130px 0px;
    button {
      border: none;
      border-radius: 10px;
      background-color: var(--GreenColorDefault);
      cursor: pointer;
      color: #fff;
      width: 634px;
      height: 66px;
      font-size: 22px;
      &:hover {
        background-color: var(--GreenColorHover);
      }
      &:active {
        background-color: var(--GreenColorActive);
      }
    }

    .errorstatus {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-top: 5px;
      img {
        width: 34px;
        height: 34px;
        margin-right: 5px;
      }
      p {
        display: flex;
        align-items: center;
        height: 34px;
        color: #b32020;
        font-family: Overpass, sans-serif;
        font-size: 16px;
        font-weight: 500;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
      }
    }
  }

  .passwordContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .newPasseordText {
      width: 100%;
      display: flex;
      justify-content: center;
      font-family: Overpass, sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 21.6px;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
    }

    .InputContainer {
      width: 100%;
      margin-top: 40px;
    }
    .InputBox {
      width: 490px;
      margin: 0 auto;
    }
    .submitButtonPassword {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 30px 0px 130px 0px;
      button {
        border: none;
        border-radius: 10px;
        background-color: var(--GreenColorDefault);
        cursor: pointer;
        color: #fff;
        width: 490px;
        height: 66px;
        font-size: 22px;
        &:hover {
          background-color: var(--GreenColorHover);
        }
        &:active {
          background-color: var(--GreenColorActive);
        }
      }
    }
  }
}
