.Logotips {
  width: 100%;
  height: auto;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  h3 {
    @include titleBlock;
    margin-bottom: 10px;
  }

  .left_block,
  .rigth_block {
    width: 48%;
    box-sizing: border-box;
    height: 300px;
  }
  .rigth_block {
    margin-left: 2%;
  }
}
