.Logotips {
  width: 100%;
  height: auto;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  h3 {
    @include titleBlock;
    margin-bottom: 10px;
  }
  .file_cont {
    display: flex;
    position: relative;
    width: auto;
    height: auto;
  }
  .border {
    display: flex;
    width: 100%;
  }
  .border_inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .left_block,
  .rigth_block {
    box-sizing: border-box;
    width: 48%;
    height: auto;
  }
  .rigth_block {
    margin-left: 2%;
  }
}
