$w1: 1366px;
$w2: 769px;
$w3: 480px;

.ModalBeznal {
  .bacground {
    @include PopupBlur();
    z-index: 10002;
    @media (max-width: $w3) {
      padding-top: 20%;
    }
  }
  .container {
    @include PopupContainer;
    padding: torem(60px);
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    @media (max-width: $w2) {
      width: calc(100vw - torem(140px));
    }
    @media (max-width: $w3) {
      width: calc(100vw - torem(40px));
      padding: torem(30px) torem(20px);
    }
  }
  .title {
    font-family: Overpass, sans-serif;
    font-weight: 500;
    font-size: torem(20px);
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
    color: #333333;
    max-width: torem(809px);
    margin-bottom: torem(40px);
    @media (max-width: $w3) {
      font-size: torem(16px);
    }
    span {
      font-family: Overpass, sans-serif;
      font-weight: 600;
      font-size: torem(20px);
      line-height: 130%;
      letter-spacing: 0%;
      text-align: center;
      text-decoration: underline;
      -webkit-text-decoration-style: solid;
      text-decoration-style: solid;
      text-decoration-thickness: 0%;
      color: #005935;
      @media (max-width: $w3) {
        font-size: torem(16px);
      }
    }
  }
  .file_container {
    display: flex;
    flex-direction: row;
    width: torem(535px);
    justify-content: space-between;

    @media (max-width: $w3) {
      flex-direction: column;
    }
    .inner {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include HoverActiveOpasity;
      @include ButtonIcon;
      @media (max-width: $w3) {
        margin-bottom: torem(30px);
      }

      img {
        width: torem(42px);
        height: torem(45px);
        margin: 0 auto;
      }

      .doc_name {
        display: flex;
        flex-direction: row;
        margin-top: torem(5px);
        align-items: center;
        span {
          font-family: Overpass, sans-serif;
          font-weight: 400;
          font-size: torem(16px);
          line-height: 120%;
          letter-spacing: 0%;
          color: #333333;
          margin-right: torem(5px);
          @media (max-width: $w3) {
            font-size: torem(14px);
          }
        }
        button {
          @include ButtonIcon;
          width: torem(24px);
          height: torem(24px);
          padding: 0;
          @media (max-width: $w3) {
            width: torem(20px);
            height: torem(20px);
          }
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
  .buttons {
    display: flex;
    flex-direction: row;
    margin-top: torem(40px);
    width: torem(535px);
    justify-content: space-between;
    @media (max-width: $w3) {
      width: calc(100% + torem(20px));
    }
    @media (max-width: $w3) {
      margin-top: torem(20px);
      justify-content: center;
    }

    button {
      width: torem(257px);
      height: torem(54px);
      @media (max-width: $w3) {
        height: torem(44px);
      }
      &:first-child {
        @include ButtonGreenBorder;
        margin-right: torem(10px);
        font-size: torem(18px);
        @media (max-width: $w3) {
          margin-right: torem(5px);
          width: auto;
          font-size: torem(14px);
          text-wrap: nowrap;
          padding: 0 torem(10px);
        }
      }
      &:last-child {
        @include ButtonGreen;
        margin-left: torem(10px);
        font-size: torem(18px);
        @media (max-width: $w3) {
          width: auto;
          font-size: torem(14px);
          text-wrap: nowrap;
          padding: 0 torem(10px);
          margin-left: torem(0px);
        }
      }
    }
  }
}
