.ProfileEditing {
  width: calc(100vw - 700px);
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 60px 40px;
  .bacgraund {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #f4f4f466;
    backdrop-filter: blur(3px);
    z-index: 1000;
  }
  .ProfilePhotoShow {
    z-index: 1001;
    width: calc(550px + 81px);
    height: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: end;
    flex-direction: row;
    .ProfileImg {
      display: flex;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
    .close {
      transform: translate(23px, -23px);
      width: 81px;
      height: 81px;
      display: flex;
      cursor: pointer;
      &:hover {
        * {
          stroke: var(--GreenColorHover);
          transition: all 0.15s linear;
        }
      }
    }
  }
  .popUp {
    @include PopupContainer;
    position: absolute;
    z-index: 1002;
    width: 856px;
    height: 380px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h2 {
      @include PopupTitle;
    }
    img {
      margin-top: 40px;
      margin-bottom: 40px;
    }
    button {
      @include ButtonGreen;
      width: 280px;
      height: 54px;
    }
  }
  .head {
    display: flex;
    flex-direction: row;
    align-items: center;
    .profilePhoto {
      width: 110px;
      height: 110px;
      border-radius: 50%;
      margin-right: 20px;
      overflow: hidden;
      position: relative;
      cursor: pointer;
      &:hover {
        .hover_bg {
          opacity: 1;
          transition: all 0.2s linear;
          img {
            transition: all 0.2s linear;
            transform: scale(1);
          }
        }
      }
      &:active {
        .hover_bg {
          img {
            transition: all 0.2s linear;
            transform: scale(0.8);
          }
        }
      }
      img {
        width: 100%;
        height: 100%;
      }
      .photo_heve {
        width: 100%;
        height: auto;
        object-position: center;
      }
      .hover_bg {
        opacity: 0;

        transition: all 0.2s linear;
        display: flex;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(3.299999952316284px);
        img {
          width: 64px;
          height: 64px;
          transition: all 0.2s linear;
          transform: scale(0.7);
        }
      }
    }
    button {
      border-radius: 10px;
      padding: 16px 25px;
      font-family: Overpass, sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 21.6px;
      text-align: center;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      cursor: pointer;
    }
    .btn1 {
      background-color: #004529;
      border: none;
      color: #fff;
      margin-right: 10px;

      &:hover {
        background-color: #002d1b;
        transition: all 0.1s linear;
      }
      &:active {
        background-color: #001c14;
        transition: all 0.1s linear;
      }
    }
    .btn2 {
      background-color: var(--BodyBgColor);
      color: #004529;
      border: 1px solid #004529;
      &:hover {
        background-color: #0045290a;
        transition: all 0.1s linear;
      }
      &:active {
        background-color: #00452940;
        transition: all 0.1s linear;
      }
    }
  }

  .container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 40px;
    .boxLeft {
      display: flex;
      flex-direction: column;
      margin-right: 142px;
    }
    .boxRigth {
      display: flex;
      flex-direction: column;

      .SaveButton {
        border-radius: 10px;
        padding: 16px 25px;
        font-family: Overpass, sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 21.6px;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        cursor: pointer;
        background-color: #004529;
        border: none;
        color: #fff;
        margin-top: 25px;
        height: 60px;
        &:hover {
          background-color: #002d1b;
          transition: all 0.1s linear;
        }
        &:active {
          background-color: #001c14;
          transition: all 0.1s linear;
        }
      }
      .noSaveButton {
        @include ButtonLightBorder;
        height: 60px;
        margin-top: 25px;
      }
    }
    .item {
      input {
        width: 413px;
        height: 54px;
        margin-bottom: 25px;
      }
    }
  }
}
