$w1: 1366px;
$w2: 769px;
$w3: 480px;

.ProfileEditing {
  width: calc(100vw - torem(700px));
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: torem(60px) torem(40px);
  @media (max-width: $w2) {
    width: 100vw;
    padding: torem(50px) 0;
    justify-content: center;
    align-items: normal;
  }
  @media (max-width: $w3) {
    padding: torem(42px) 0;
  }

  .ProfilePhotoShow {
    z-index: 1001;
    width: calc(torem(550px) + torem(81px));
    height: torem(550px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    flex-direction: row;
    @media (max-width: $w2) {
      position: fixed;
      width: 80vw;
      top: 40%;
      left: calc(50% + torem(40px));
    }
    @media (max-width: $w3) {
      left: calc(50% + torem(30px));
      height: calc(80vw - torem(61px));
    }

    .ProfileImg {
      display: flex;
      width: auto;
      height: auto;
      max-width: 60vw;
      max-height: 100vh;
      // border-radius: 50%;
      object-fit: cover;
    }
    .close {
      transform: translate(torem(23px), torem(-23px));
      width: torem(81px);
      height: torem(81px);
      display: flex;
      @media (max-width: $w2) {
        transform: translate(torem(-40px), torem(-23px));
      }
      cursor: pointer;
      &:hover {
        * {
          stroke: var(--GreenColorHover);
          transition: all 0.15s linear;
        }
      }
    }
  }
  .bacgraund {
    @include PopupBlur;
    height: 100vh;
    position: fixed;
    z-index: 10000;
  }
  .popUp {
    @include PopupContainer;
    padding: torem(70px);
    position: fixed;
    z-index: 10002;
    width: torem(856px);
    height: max-content;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media (max-width: $w2) {
      width: 80vw;
      padding: torem(60px);
      height: max-content;
    }
    @media (max-width: $w3) {
      width: calc(100vw - torem(40px));
      padding: torem(40px);
    }

    h2 {
      @include PopupTitle;
      @media (max-width: $w3) {
        font-size: torem(20px);
        font-weight: 400;
        margin: 0;
        padding: 0;
      }
    }
    img {
      margin-top: torem(40px);
      margin-bottom: torem(40px);
      @media (max-width: $w3) {
        width: torem(60px);
        height: torem(60px);
        margin-bottom: torem(50px);
      }
    }
    button {
      @include ButtonGreen;
      width: torem(280px);
      height: torem(54px);
      @media (max-width: $w3) {
        font-size: torem(16px);
        font-weight: 400;
      }
    }
  }
  .head {
    display: flex;
    flex-direction: row;
    align-items: center;

    @media (max-width: $w2) {
      flex-direction: column;
    }

    .profilePhoto {
      width: torem(110px);
      height: torem(110px);
      border-radius: 50%;
      margin-right: torem(20px);
      overflow: hidden;
      position: relative;
      cursor: pointer;
      @media (max-width: $w2) {
        width: torem(182px);
        height: torem(182px);
        margin: 0;
        margin-bottom: torem(25px);
      }
      @media (max-width: $w3) {
        width: torem(228px);
        height: torem(228px);
        margin-bottom: torem(20px);
      }
      &:hover {
        .hover_bg {
          opacity: 1;
          transition: all 0.2s linear;
          img {
            transition: all 0.2s linear;
            transform: scale(1);
          }
        }
      }
      &:active {
        .hover_bg {
          img {
            transition: all 0.2s linear;
            transform: scale(0.8);
          }
        }
      }
      img {
        width: 100%;
        height: 100%;
      }
      .photo_heve {
        width: 100%;
        height: auto;
        object-position: center;
      }
      .hover_bg {
        opacity: 0;
        transition: all 0.2s linear;
        display: flex;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(3px);
        img {
          width: torem(64px);
          height: torem(64px);
          transition: all 0.2s linear;
          transform: scale(0.7);
        }
      }
    }
    .buttons {
      display: flex;
      flex-direction: row;
      @media (max-width: $w3) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
    button {
      border-radius: torem(10px);
      padding: torem(16px) torem(25px);
      font-family: Overpass, sans-serif;
      font-size: torem(18px);
      font-weight: 400;
      line-height: torem(21px);
      text-align: center;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      cursor: pointer;
      @media (max-width: $w3) {
        padding: 0;
      }
    }
    .btn1 {
      background-color: #004529;
      border: none;
      color: #fff;
      margin-right: torem(10px);
      @media (max-width: $w3) {
        margin: 0;
        margin-bottom: torem(5px);
        width: torem(244px);
        height: torem(44px);
      }

      &:hover {
        background-color: #002d1b;
        transition: all 0.1s linear;
      }
      &:active {
        background-color: #001c14;
        transition: all 0.1s linear;
      }
    }
    .btn2 {
      background-color: var(--BodyBgColor);
      color: #004529;
      border: torem(1px) solid #004529;
      @media (max-width: $w3) {
        width: torem(171px);
        height: torem(44px);
      }

      &:hover {
        background-color: #0045290a;
        transition: all 0.1s linear;
      }
      &:active {
        background-color: #00452940;
        transition: all 0.1s linear;
      }
    }
  }

  .container {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: torem(40px);
    @media (max-width: $w2) {
      flex-direction: column;
      width: torem(450px);
      margin: 0 auto;
      padding-top: torem(50px);
    }
    @media (max-width: $w3) {
      padding-top: torem(30px);
      width: calc(100vw - torem(40px));
    }
    .boxLeft {
      display: flex;
      flex-direction: column;
      margin-right: torem(142px);
      @media (max-width: $w2) {
        margin: 0;
      }
    }
    .boxRigth {
      display: flex;
      flex-direction: column;

      .SaveButton {
        border-radius: torem(10px);
        padding: torem(16px) torem(25px);
        font-family: Overpass, sans-serif;
        font-size: torem(18px);
        font-weight: 400;
        line-height: torem(21px);
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        cursor: pointer;
        background-color: #004529;
        border: none;
        color: #fff;
        margin-top: torem(25px);
        height: torem(60px);
        @media (max-width: $w2) {
          margin-top: torem(10px);
        }
        &:hover {
          background-color: #002d1b;
          transition: all 0.1s linear;
        }
        &:active {
          background-color: #001c14;
          transition: all 0.1s linear;
        }
      }
      .noSaveButton {
        @include ButtonLightBorder;
        font-size: torem(18px);
        height: torem(60px);
        margin-top: torem(25px);
        @media (max-width: $w2) {
          margin-top: torem(20px);
          margin-bottom: torem(150px);
        }
        @media (max-width: $w3) {
          margin-top: torem(10px);
          margin-bottom: torem(94px);
        }
      }
    }
    .item {
      input {
        width: torem(450px);
        height: torem(54px);
        margin-bottom: torem(25px);
        @media (max-width: $w2) {
          width: 100%;
          margin-bottom: torem(20px);
        }
        @media (max-width: $w3) {
          font-size: torem(16px);
        }
      }
      div[name='error'] {
        top: 0 !important;
      }

      @media (max-width: $w3) {
        span {
          font-size: torem(14px);
        }
        img {
          padding-top: torem(2px);
          width: torem(14px);
        }
        div:nth-child(3) {
          padding-top: torem(18px);
          z-index: -1;
        }
        div[name='error'] {
          top: 0 !important;
          padding-top: 0 !important;
          z-index: 100 !important;
          font-size: torem(12px);
        }
      }
    }
  }
}
