.HeadBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  img {
    width: torem(24px);
    height: torem(24px);
  }
  .left_block {
    display: flex;
    width: torem(412px);
    border: torem(1px) solid #c8d0ce;
    border-radius: torem(10px);
    padding: torem(14px) torem(15px);
    margin-right: torem(40px);

    img {
      width: torem(24px);
      height: torem(24px);
      margin-right: torem(10px);
    }
    input {
      border: none;
      width: 100%;
      height: 100%;
      font-family: Overpass, sans-serif;
      font-weight: 400;
      font-size: torem(18px);
      color: #333333;
      background: none;
      outline: none;
      &:focus::-webkit-input-placeholder {
        color: transparent;
      }
      &:focus::-moz-placeholder {
        color: transparent;
      }
      &:focus:-ms-input-placeholder {
        color: transparent;
      }
      &:focus::-ms-input-placeholder {
        color: transparent;
      }
      &:focus::placeholder {
        color: transparent;
      }
    }
  }

  .right_block {
    display: flex;
    flex-direction: row;
    .loading {
      width: torem(24px);
      height: torem(24px);
      border: torem(5px) solid var(--BodyBgColor);
      border-top: torem(5px) solid #004529;
      border-radius: 50%;
      margin: 0;
      padding: 0;
    }
    .save {
      @include ButtonGreen();
      font-size: torem(20px);
      width: torem(280px);
      height: 100%;
      margin-right: torem(25px);
    }
    span {
      margin-left: torem(10px);
      text-wrap: nowrap;
    }
    .export_staty,
    .export_doklad {
      @include ButtonGreenBorder;
      padding: 0 torem(24px);
      font-size: torem(20px);
    }
    .export_staty {
      margin-right: torem(25px);
      font-size: torem(20px);
    }
  }

  .container_list {
    display: flex;
    flex-direction: column;
    position: relative;

    .open_list {
      display: flex;
      @include ButtonGreenBorder;
      padding: 0 torem(24px);
      font-size: torem(20px);
      min-width: torem(280px);
      height: 100%;
      justify-content: space-between;
      transition: all 0.7s linear !important;
    }

    .open_list_open {
      border-bottom: none;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      transition: all 0.2s linear !important;
    }

    .arrow {
      display: flex;
      width: torem(15px);
      height: torem(15px);
      transform: scaleY(1);
      transition: all 0.2s linear;
    }

    .open_arrow {
      transform: scaleY(-1);
      transition: all 0.2s linear;
    }

    .list {
      position: absolute;
      top: calc(100%);
      width: 100%;
      z-index: 1000;
      background-color: var(--BodyBgColor);
      box-sizing: border-box;
      border-radius: torem(12px);
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      overflow: hidden;
      border: torem(1px) solid #004529;

      button {
        height: auto;
        background-color: var(--BodyBgColor);
        width: 100%;
        text-align: left;
        padding: 0;
        border: none;
        font-size: torem(20px);
        padding: torem(10px) torem(15px);
        @include HoverActive;
        cursor: pointer;
      }
    }
  }
}
