.HeadBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .left_block {
    display: flex;
    width: torem(412px);
    border: torem(1px) solid #c8d0ce;
    border-radius: torem(10px);
    padding: torem(14px) torem(15px);
    margin-right: torem(40px);

    img {
      width: torem(24px);
      height: torem(24px);
      margin-right: torem(10px);
    }
    input {
      border: none;
      width: 100%;
      height: 100%;
      font-family: Overpass, sans-serif;
      font-weight: 400;
      font-size: torem(18px);
      color: #333333;
      background: none;
      outline: none;
      &:focus::placeholder {
        color: transparent;
      }
    }
  }

  .right_block {
    display: flex;
    flex-direction: row;
    .loading {
      width: torem(24px);
      height: torem(24px);
      border: torem(5px) solid var(--BodyBgColor);
      border-top: torem(5px) solid #004529;
      border-radius: 50%;
      margin: auto;
    }
    .save {
      @include ButtonGreen();
      font-size: torem(20px);
      width: torem(280px);
      height: 100%;
      margin-right: torem(25px);
    }
    span {
      margin-left: torem(10px);
      text-wrap: nowrap;
    }
    .export_staty,
    .export_doklad {
      @include ButtonGreenBorder;
      padding: 0 torem(24px);
      font-size: torem(20px);
    }
    .export_staty {
      margin-right: torem(25px);
      font-size: torem(20px);
    }
  }
}
