$w1: 1366px;
$w2: 769px;
$w3: 480px;

.absluteLogo {
  display: none !important;
  @media (min-width: 1600px) {
    position: absolute !important;
  }
}

.loginLogo {
  display: none !important;
}

.visibleLogo {
  display: none !important;
  @media (max-width: $w2) {
    display: flex !important;
  }
}

.logo {
  width: torem(110px);
  height: torem(110px);
  display: flex;
  position: absolute;
  left: torem(25px);
  top: torem(10px);
  z-index: 9000;
  @include HoverActiveOpacity;
  cursor: pointer;

  @media (max-width: $w2) {
    width: torem(60px);
    height: torem(60px);
  }
  @media (max-width: $w3) {
    display: none !important;
  }
}

.NavBar {
  width: 100vw;
  box-sizing: border-box;
  padding-top: 25px;
  padding-right: 25px;
  position: fixed;
  display: flex;
  justify-content: end;
  top: 0;
  left: 0;
  z-index: 8000;
  @media (max-width: $w3) {
    display: none;
  }

  .NavBarButton {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    color: var(--GreenColorDefault);
    p {
      font-size: torem(20px);
      font-weight: 600;
      margin-right: torem(5px);
    }
    .NavBarMenu {
      span {
        display: flex;
        justify-content: end;
        height: torem(4px);
        background-color: #fff;
        margin-bottom: torem(5px);
        transition: 0.15s linear all;
        width: 100%;
        border-radius: torem(3px);
        &:nth-child(1) {
          width: torem(37px);
          background-color: var(--GreenColorDefault);
        }
        &:nth-child(2) {
          width: torem(27px);
          background-color: var(--GreenColorDefault);
          margin-left: torem(10px);
        }
        &:nth-child(3) {
          width: torem(37px);
          background-color: var(--GreenColorDefault);
        }
      }
    }
    &:hover {
      cursor: pointer;
      .NavBarMenu {
        span {
          &:nth-child(1) {
            width: torem(37px);
          }
          &:nth-child(2) {
            width: torem(27px);
            margin-left: 0px;
          }
          &:nth-child(3) {
            width: torem(22px);
          }
        }
      }
    }
  }

  .menu {
    background-color: var(--GreenColorDefault);
    width: torem(295px);
    max-width: torem(295px);
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    box-sizing: border-box;
    text-align: end;
    padding: torem(25px) torem(30px);
    .menuInner {
      position: relative;
      height: 100vh;
      .RightMenuText {
        @media (max-width: $w2) {
          display: none;
        }
        position: absolute;
        bottom: torem(50px);
        right: 0;
        width: torem(210px);
        text-align: end;
        color: #829c91;
        line-height: torem(19px);
        font-size: torem(16px);
        max-height: 60vh;
        overflow: auto;
        &::-webkit-scrollbar {
          display: none;
        }

        .RightMenuTextCont {
          margin-bottom: torem(20px);
        }
        .RightMenuTextGroup {
          font-weight: 700;
        }
        P {
          font-weight: 500;
        }
      }
    }
    button {
      background: none;
      border: none;
      align-items: center;
      font-size: torem(20px);
      color: #fff;
      font-weight: 600;
      cursor: pointer;
      &:hover {
        img {
          transform: rotate(90deg);
        }
      }
      img {
        width: torem(20px);
        height: torem(20px);
        margin-left: torem(10px);
        position: relative;
        top: torem(4px);
        transition: 0.1s linear all;
      }
    }
  }

  .menu.active {
    top: 0; /* Позиция меню, когда оно становится видимым */
    opacity: 1;
    transform: translateY(0);
    transition:
      transform 0.4s ease-in-out,
      opacity 0.3s ease-in-out;
  }
  .menu.disable {
    opacity: 0;
    transform: translateY(calc(-100vh - torem(75px)));
    transition:
      transform 0.4s ease-in-out,
      opacity 0.3s ease-in-out;
  }
  ul {
    .pk {
      display: none;
    }
    list-style: none;
    @media (min-width: $w2) {
      //! первые 4 li  скрое
      li:nth-child(-n + 4) {
        display: none;
      }
      .pk {
        display: flex;
      }
    }
    li {
      margin: 1.25rem 0; /* 20px в rem */
      color: #fff;
      transition: 0.05s linear all;
      display: flex;
      align-items: end;
      justify-content: end;
      font-size: torem(18px);
      font-weight: 400;
      text-wrap: nowrap;
      .arowLi {
        transition: all 0.15s linear;
        width: 0;
        overflow: hidden;
        img {
          width: torem(16px);
          height: torem(16px);
          transform: translateY(torem(2px));
        }
      }
      .leftImg {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: torem(3px);
        img {
          margin-right: torem(4px);
        }
      }
      .rigthImg {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: torem(3px);
        padding-left: torem(4px);
        img {
          padding: torem(4px);
        }
      }
      img {
        width: torem(20px);
        height: torem(20px);
        transition: all 0.2s linear;
      }

      .rotate {
        transform: scaleY(-1);
        transition: all 0.2s linear;
      }

      &:hover {
        padding-left: 2.1875rem; /* 35px в rem */
        cursor: pointer;
        .arowLi {
          display: block;
          margin-left: torem(10px);
          width: auto;
          min-width: torem(15px);
        }
      }
    }
    .list {
      overflow: hidden;
      li:first-child {
        margin: 0;
      }
      li:last-child {
        margin-bottom: 0;
      }
    }
  }

  .reports {
    max-height: torem(250px);
    overflow-y: auto;
    @include ScrollBar;
    width: 100%;
    &::-webkit-scrollbar {
      width: torem(4px);
      background-color: transparent;
    }
    padding-right: torem(10px);
  }
}
