$w1: 1366px;
$w2: 769px;
$w3: 480px;

.ListInput {
  position: absolute;
  background-color: var(--BodyBgColor);
  z-index: 100;
  width: 100%;
  border: torem(1px) solid #c8d0ce;
  border-bottom-right-radius: torem(10px);
  border-bottom-left-radius: torem(10px);
  top: calc(100% - torem(1px));
  box-sizing: border-box;
  ul {
    outline: none;
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: torem(400px);
    overflow-y: auto;
  }

  li {
    font-family: Overpass, sans-serif;
    font-size: torem(20px);
    font-weight: 400;
    line-height: torem(26px);
    padding: torem(20px);
    &:hover:not(.active) {
      background-color: #0045290a;
    }
    @media (max-width: $w3) {
      font-size: torem(16px);
    }
  }
  .active {
    background-color: #00452940;
  }
}
