.DateAdsess {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(torem(300px), 1fr));
  gap: torem(32px);
  margin-top: torem(40px);

  .container {
    display: flex;
    flex-direction: column;
    h3 {
      @include titleBlock;
      margin-bottom: torem(10px);
    }
    .list {
      cursor: pointer;
      input {
        cursor: pointer;
      }
    }

    .input_box {
      position: relative;
      border: torem(1px) solid #c8d0ce;
      padding: torem(20px);
      border-radius: torem(10px);
      display: flex;
      flex-direction: row;
      height: torem(67px);
      box-sizing: border-box;
      position: relative;
      display: flex;
      align-items: center;

      .list_box {
        box-sizing: border-box;
        position: absolute;
        background-color: var(--BodyBgColor);
        z-index: 100;
        top: calc(100%);
        left: torem(-1px);
        padding: 0px;
        border-radius: torem(10px);
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        width: calc(100% + torem(2px));
        border: torem(1px) solid #c8d0ce;
        overflow-y: auto;
        overflow-x: hidden;
        max-height: torem(300px);
        min-height: torem(100px);
        .list_box_empty {
          width: 100%;
          height: torem(100px);
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: torem(18px);
          font-weight: 500;
          color: #333333;
        }
        ul {
          @include listNoStyle;
          li {
            cursor: pointer;
            padding: torem(20px);
            @include HoverActive;
          }
        }
      }

      .arrow_button {
        @include HoverActiveOpasity;
        @include ButtonIcon;
        margin-left: torem(5px);
        img {
          width: torem(12px);
          height: torem(12px);
        }
        padding: torem(4px);
      }
      .icon {
        margin-right: torem(10px);
        @include HoverActiveOpasity;
        @include ButtonIcon;
      }
      .calendar_show {
        position: absolute;
        left: 0;
        top: calc(100% + torem(10px));
        z-index: 300;
      }
      input {
        width: 100%;
        border: none;
        font-family: Overpass, sans-serif;
        font-weight: 400;
        font-size: torem(18px);
        line-height: torem(27px);
        letter-spacing: 0%;
        color: #333333;
        background: none;
        outline: none;
      }
    }
    .list_open_input {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}
