main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}

.organizationComiteImages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
