$w1: 1366px;
$w2: 769px;
$w3: 480px;

.organizationComiteMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: torem(100px);
  @media (max-width: 990px) {
    margin-top: torem(70px);
  }
}

.logo {
  width: torem(110px);
  height: torem(110px);
  position: absolute;
  top: torem(25px);
  left: torem(25px);
  @media (max-width: 990px) {
    width: torem(60px);
    height: torem(60px);
    top: torem(15px);
    left: torem(15px);
  }
  @media (max-width: 769px) {
    display: none;
  }
}

h2 {
  font-size: torem(30px);
  font-weight: 600;
  @media (max-width: $w2) {
    font-size: torem(20px);
    font-weight: 500;
  }
  @media (max-width: 770px) {
    font-size: torem(18px);
  }
}

.organizationComite {
  display: flex;
  flex-direction: column;
  align-items: center;

  .organizationComiteImages {
    display: flex;
    flex-wrap: wrap;
    gap: torem(32px);
    justify-content: center;
    max-width: torem(1300px);
    @media (max-width: $w2) {
      grid-template-columns: repeat(2, 1fr);
      gap: torem(10px);
    }
    @media (max-width: 770px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.organizationComiteImagesEmpty {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  p {
    font-size: torem(20px);
    font-weight: 600;
    color: #004529;
    text-align: center;
    width: 100vw;
  }
}

.programmingComite {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: torem(150px);
  margin-bottom: torem(150px);
  div {
    justify-content: center;
    @media (max-width: 770px) {
      justify-content: start;
      padding-left: torem(20px);
      padding-right: torem(20px);
    }
  }

  .programmingComiteImages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: torem(30px);
    @media (max-width: $w2) {
      grid-template-columns: repeat(2, 1fr);
      gap: torem(10px);
    }
    @media (max-width: 770px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.greenArrowContainer {
  display: block;
  @media (max-width: 770px) {
    display: none;
  }
  .greenArrow {
    background-image: url('./../../assets/img/UI/ArrTopDefault.svg');
    width: torem(80px);
    height: torem(80px);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    position: fixed;
    right: torem(50px);
    bottom: torem(50px);
    z-index: 500;
    transition: 0.08s linear all;
    &:hover {
      background-image: url('./../../assets/img/UI/ArrTopHover.svg');
    }
    &:active {
      background-image: url('./../../assets/img/UI/ArrTopActive.svg');
    }
  }
}
