$w1: 1366px;
$w2: 769px;
$w3: 480px;

.AddCoauthor {
  width: 100%;
  position: relative;
  margin: 0 auto;

  @media (max-width: $w2) {
    width: 100vw;
    margin-top: torem(124px);
    padding: 0 torem(30px);
  }
  @media (max-width: $w3) {
    margin-top: torem(15px);
  }
  .head {
    display: flex;
    flex-direction: column;
    @media (max-width: $w2) {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      // transform: translateX(torem(-30px));
    }
  }
  .title {
    display: flex;
    justify-content: center;
    font-family: Overpass, sans-serif;
    font-size: torem(32px);
    font-weight: 500;
    text-align: center;
    color: #333333;
    margin: 0;
    @media (max-width: $w2) {
      font-size: torem(26px);
      font-weight: 400;
      order: 2;
    }
    @media (max-width: $w3) {
      font-weight: 700;
      font-size: torem(18px);
    }
  }
  .slider {
    position: relative;
    background-color: #e7eae9;
    width: 100%;
    border-radius: torem(5px);
    height: torem(5px);
    @media (max-width: $w2) {
      display: none;
    }

    .sliderInner {
      position: absolute;
      left: 0;
      height: 100%;
      background-color: #00452980;
      transition: all 0.15s linear;
    }
  }
  .backImg {
    display: flex;
    transform: translateY(torem(-10px));
    @media (max-width: $w2) {
      order: 1;
      transform: none;
      transform: translateX(torem(-20px));
      position: absolute;
      left: torem(103px);
    }
    @media (max-width: $w3) {
      transform: translateX(torem(-10px));
      z-index: 10001;
    }

    img {
      cursor: pointer;
      border-radius: torem(5px);
      @include HoverActive;
      @media (max-width: $w3) {
        width: torem(37px);
        height: torem(27px);
      }
    }
  }
  .addsoaftor {
    display: flex;
    justify-content: center;
    @include ButtonLight;
    padding: torem(16px) 0;
    width: torem(240px);
    height: torem(54px);
    margin: 0 auto;
    margin-top: torem(25px);
    box-sizing: border-box;
    text-wrap: nowrap;
    @media (max-width: $w2) {
      font-size: torem(18px);
      font-weight: 400;
    }
    img {
      margin-left: torem(10px);
    }
  }

  .srokContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: torem(35px);
    @media (max-width: $w2) {
      flex-direction: column;
      width: torem(508px);
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      margin-top: torem(100px);
      margin-bottom: torem(135px);
    }
    @media (max-width: $w3) {
      width: 100%;
      margin-top: torem(40px);
    }

    .text {
      display: flex;
      align-items: start;
      flex-direction: row;
      width: torem(769px);
      margin-top: torem(8px);
      @media (max-width: $w2) {
        order: 2;
        width: 100%;
        color: #5b605e;
      }
      @media (max-width: $w3) {
        width: 100%;
        font-size: torem(14px);
        font-weight: 400;
      }
      img {
        @media (max-width: $w2) {
          display: none;
        }
        margin-right: torem(6px);
      }
    }
    button {
      @include ButtonGreen;
      padding: torem(20px);
      width: torem(350px);
      height: torem(64px);
      @media (max-width: $w2) {
        order: 1;
        width: torem(413px);
      }
      @media (max-width: $w3) {
        width: 100%;
        font-size: torem(16px);
        font-weight: 500;
        height: torem(54px);
      }
    }
  }
  .inputContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .inputbox {
    display: flex;
    width: torem(350px);
    height: torem(86px);
    margin-bottom: torem(25px);
    position: relative;
    @media (max-width: $w2) {
      width: torem(340px);
    }
  }

  .input_organization {
    display: flex;
    flex-direction: column;
    width: torem(350px);
    @media (max-width: $w2) {
      width: torem(340px);
    }
    span {
      @include InputTitle();
      margin-bottom: torem(10px);
    }
    input {
      width: torem(350px);
      height: torem(54px);
      border-radius: torem(10px);
      font-family: Overpass, sans-serif;
      font-size: torem(18px);
      font-weight: 500;
      line-height: torem(21px);
      text-align: left;
      color: #333333;
      padding: torem(16px) torem(20px);
      padding-right: torem(45px);
      box-sizing: border-box;
      outline: none;
      border: torem(1px) solid #c8d0ce;
      background-color: inherit;
      cursor: pointer;
      transition: all 0.5s linear;
      @media (max-width: $w3) {
        font-size: torem(14px);
      }
    }
  }

  .soauthorEditing {
    display: grid;

    grid-template-columns: auto minmax(auto, 33%) auto;
    // flex-wrap: wrap;
    justify-content: space-between;
    input {
      width: torem(350px);
      height: torem(54px);
      @media (max-width: $w3) {
        width: 100%;
        box-sizing: border-box;
      }
    }
    div {
      @media (max-width: $w3) {
        width: 100%;
      }
    }
    .input_organization {
      width: torem(350px);
    }
    .inputbox {
      width: torem(350px);

      @media (max-width: $w3) {
        width: 100%;
      }
    }
  }

  .modalEmail {
    width: torem(555px);
    height: auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: torem(32px) torem(40px);
    box-sizing: border-box;
    top: calc(100% + torem(7px));
    border-radius: torem(10px);
    left: 0;
    z-index: 100;
    @media (max-width: $w2) {
      padding: torem(22px) torem(30px);
      width: torem(500px);
    }
    @media (max-width: $w3) {
      width: 100%;
    }

    p {
      font-family: Overpass, sans-serif;
      font-size: torem(18px);
      font-weight: 400;
      line-height: torem(21px);
      text-align: center;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      margin-bottom: torem(22px);
      @media (max-width: $w2) {
        font-size: torem(16px);
      }
      @media (max-width: $w3) {
        font-size: torem(14px);
      }
    }
    button {
      @include ButtonGreen;
      width: torem(172px);
      height: torem(46px);
      margin: 0 auto;
      @media (max-width: $w2) {
        font-size: torem(18px);
        font-weight: 400;
      }
      @media (max-width: $w3) {
        font-size: torem(16px);
      }
    }
  }
  .deletecoauthor {
    display: flex;
    justify-content: end;
    width: 100%;
    margin-top: torem(20px);
    margin-bottom: torem(20px);
    @media (max-width: $w2) {
      margin-top: torem(50px);
    }
    @media (max-width: $w3) {
      margin-top: torem(10px);
      margin-bottom: torem(10px);
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      @include ButtonRed(torem(18px));
      padding: torem(16px);
      @media (max-width: $w2) {
        font-size: torem(18px);
        font-weight: 400;
      }
      @media (max-width: $w3) {
        font-size: torem(14px);
      }
      span {
        padding-top: torem(4px);
      }
      img {
        width: torem(24px);
        height: torem(24px);
        margin-left: torem(10px);
        @media (max-width: $w3) {
          width: torem(19px);
          height: torem(19px);
        }
      }
    }
  }
  .popups {
    @include PopupBlur;
    height: 100vh;
    position: fixed;
  }
}
