.Сollections {
  .title {
    font-size: torem(32px);
    font-weight: 500;
    margin-bottom: torem(40px);
    color: #333;
  }
  .ButtonAddContainer {
    display: flex;
    justify-content: end;
    margin-bottom: torem(25px);
    .ButtonAdd {
      @include ButtonGreen;
      display: flex;
      justify-content: center;
      align-items: center;
      height: torem(52px);
      width: torem(280px);
      position: relative;
      left:  torem(-52px);
    }
  }
  .orgCargCont {
    position: relative;
    display: flex;
    left: -torem(16px);
    top: -torem(11px);
    .orgCargContCards {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      gap: torem(16px);
    }
  }
}
