$w1: 1366px;
$w2: 769px;
$w3: 480px;

.ConfirmLogin {
  @media (max-width: $w2) {
    width: torem(580px);
    margin: 0 auto;
    padding-top: torem(74px);
    margin-bottom: torem(150px);
  }
  @media (max-width: $w3) {
    width: 100vw;
    padding: torem(75px) torem(20px);
    padding-bottom: torem(100px);
    margin: 0;
  }
  .ConfirmLoginLogo {
    @media (max-width: $w2) {
      display: none;
    }
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: torem(70px);
    margin-top: torem(60px);
    img {
      width: torem(169px);
      height: torem(169px);
    }
  }
  .ConfirmLoginTitle {
    p {
      font-family: Overpass, sans-serif;
      font-size: torem(32px);
      font-weight: 900;
      line-height: torem(38px);
      text-align: center;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      text-align: center;
      color: var(--GrayTextDefault);
      @media (max-width: $w2) {
        font-size: torem(18px);
        font-weight: 400;
      }
      @media (max-width: $w3) {
        font-size: torem(16px);
      }
      &:first-child {
        font-size: torem(32px);
        line-height: torem(38px);
        font-weight: 900;
        margin: torem(40px) 0px torem(20px) 0px;
        @media (max-width: $w2) {
          font-size: torem(20px);
          margin-bottom: 0;
        }
        @media (max-width: $w3) {
          font-size: torem(18px);
          line-height: 120%;
        }
      }
    }
  }
  .ConfirmLoginGalca {
    display: flex;
    justify-content: center;
    margin-bottom: torem(40px);

    .ConfirmLoginGalcaImg {
      display: flex;
      justify-content: center;
      margin: torem(20px) 0px;
      @media (max-width: $w2) {
        margin: torem(30px) 0px;

        img {
          width: torem(60px);
          height: torem(60px);
        }
      }
      @media (max-width: $w3) {
        img {
          width: torem(64px);
          height: torem(64px);
        }
      }
    }
    .ConfirmLoginGalcaText {
      font-family: Overpass, sans-serif;
      font-size: torem(20px);
      font-weight: 400;
      line-height: torem(26px);
      text-align: center;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      padding-top: torem(20px);
      @media (max-width: $w3) {
        font-size: torem(16px);
        line-height: 120%;
      }
    }
    p {
      max-width: torem(856px);
      font-size: torem(20px);
      color: var(--GrayTextDefault);
    }

    .mail {
      color: var(--GreenLinkSecond);
    }
  }
  .netDostupa {
    margin-bottom: torem(70px);
    p {
      cursor: pointer;
      font-family: Overpass, sans-serif;
      font-size: torem(20px);
      font-weight: 400;
      line-height: torem(26px);
      text-align: center;
      text-decoration-line: underline;
      text-decoration-style: solid;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #006d49;
      &:hover {
        transition: all 0.1s linear;
        color: var(--GreenColorHover);
      }
      &:active {
        transition: all 0.1s linear;
        color: var(--GreenColorActive);
      }
    }
  }
  .code {
    display: flex;
    justify-content: center;
    margin-bottom: torem(70px);
    font-size: torem(20px);
    color: var(--GrayTextDefault);
    @media (max-width: $w2) {
      margin-bottom: torem(40px);
    }
    @media (max-width: $w3) {
      font-size: torem(16px);
      line-height: 120%;
      margin-bottom: torem(20px);
    }
    p {
      font-family: Overpass, sans-serif;
      font-size: torem(20px);
      font-weight: 400;
      line-height: torem(26px);
      text-align: center;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #333333;
      @media (max-width: $w3) {
        font-size: torem(16px);
        line-height: 120%;
      }
    }
  }
  .codeInput {
    display: flex;
    justify-content: center;
    color: var(--GrayTextDefault);
    .codeInputInner {
      display: flex;
      justify-content: space-between;
      width: torem(634px);
      @media (max-width: $w3) {
        width: 100vw;
        margin-top: torem(30px);
      }
    }
    input {
      width: torem(79px);
      border: none;
      border-bottom: torem(3px) solid var(--GrayTextDefault);
      height: torem(100px);
      font-size: torem(84px);
      line-height: torem(100px);
      text-align: center;
      background-color: inherit;
      &:focus {
        outline: none;
      }
      @media (max-width: $w2) {
        font-size: torem(64px);
      }
      @media (max-width: $w3) {
        width: torem(40px);
        font-weight: 200;
        font-size: torem(46px);
        height: torem(55px);
      }
    }
    .error {
      border-bottom: torem(3px) solid var(--ErrorColor);
    }
  }
  .CodeSubmit {
    display: flex;
    justify-content: center;
    margin-top: torem(30px);
    @media (max-width: $w2) {
      margin-bottom: torem(40px);
    }
    @media (max-width: $w3) {
      margin-bottom: torem(30px);
    }
    .CodeSubmitCode {
      display: flex;
      font-size: torem(18px);
      button {
        border: none;
        font-size: torem(18px);
        background-color: inherit;
        @media (max-width: $w3) {
          font-size: torem(16px);
        }
      }
      p {
        margin-left: torem(5px);
        color: var(--GreenColorDefault);
        font-size: torem(18px);
        @media (max-width: $w3) {
          font-size: torem(16px);
          padding-top: torem(2px);
        }
      }
    }
  }

  .submitButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: torem(30px) 0px t 130 0px;
    button {
      border: none;
      border-radius: torem(10px);
      background-color: var(--GreenColorDefault);
      cursor: pointer;
      color: #fff;
      width: torem(634px);
      height: torem(64px);
      font-size: torem(22px);
      @media (max-width: $w2) {
        width: torem(400px);
        height: torem(54px);
      }
      @media (max-width: $w3) {
        width: 100%;
        font-size: torem(16px);
      }
      &:hover {
        background-color: var(--GreenColorHover);
      }
      &:active {
        background-color: var(--GreenColorActive);
      }
    }

    .errorstatus {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-top: torem(5px);
      img {
        width: torem(34px);
        height: torem(34px);
        margin-right: torem(5px);
      }
      p {
        display: flex;
        align-items: center;
        height: torem(34px);
        color: #b32020;
        font-family: Overpass, sans-serif;
        font-size: torem(16px);
        font-weight: 500;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
      }
    }
  }

  .passwordContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .newPasseordText {
      width: 100%;
      display: flex;
      justify-content: center;
      font-family: Overpass, sans-serif;
      font-size: torem(18px);
      font-weight: 400;
      line-height: torem(21px);
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
    }

    .InputContainer {
      width: 100%;
      margin-top: torem(40px);
    }
    .InputBox {
      width: torem(490px);
      margin: 0 auto;
    }
    .submitButtonPassword {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: torem(30px) 0px torem(130px) 0px;
      button {
        border: none;
        border-radius: torem(10px);
        background-color: var(--GreenColorDefault);
        cursor: pointer;
        color: #fff;
        width: torem(490px);
        height: torem(66px);
        font-size: torem(22px);
        &:hover {
          background-color: var(--GreenColorHover);
        }
        &:active {
          background-color: var(--GreenColorActive);
        }
      }
    }
  }
}
