.TopHeader{
    position: absolute;
    left: 0;
    top: 0;
    img{
      pointer-events: none;
    }
  }
  .mainTopTextContainer{
        position: absolute;
        bottom: 0;
        left: 300px;
        width:1813px;
        display: flex;
  }
  .mainTopText{
     position: relative;
     width: 100%;
      .mainTopDate{
          p{
              font-size: 32px;
              font-weight: 900;
          }
      }
      .mainTopList{
          ul{
              display: flex;
              list-style: none;
              width: 857px;
              justify-content: space-between;
              margin: 50px 0px;
              li{
                  display: flex;
                  align-items: center;              
                  img{
                      margin-left: 24px;
                  }
                  .clicker{
                      background-image: url("./../../assets/img/UI/ArrDefault.svg");
                      width: 48px;
                      height: 48px;
                      background-size: contain;
                      background-repeat: no-repeat;
                      margin-left: 24px;
                      cursor: pointer;
                      &:hover{
                          background-image: url("./../../assets/img/UI/ArrHover.svg");     
                      }
                      &:active{
                                  background-image: url("./../../assets/img/UI/ArrClick.svg");
                      }
                  }
              }
          }
      }
  }
  .buttonClicker{
    position: relative;
    top: 110px;
    left: -500px;
 }
  .topContainer{
      position: relative;
      height: 870px;
  }