.ConfirenceModuleAdminPage {
  h2 {
    @include titleH2;
    margin-bottom: torem(40px);
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: torem(25px);

    .left {
      button {
        @include ButtonRedBorder;
        width: torem(262px);
        height: torem(52px);
        font-size: torem(18px);
      }
    }
    .buttons_inner {
      display: flex;
      flex-direction: row;
      button {
        &:first-child {
          @include ButtonCancel;
          margin-right: torem(25px);
          width: torem(262px);
          height: torem(52px);
          font-size: torem(18px);
        }
        &:last-child {
          @include ButtonGreen;
          width: torem(262px);
          height: torem(52px);
          font-size: torem(18px);
        }
      }
    }
  }
}

.SuccessModal_blur {
  @include PopupBlur;
}

.SuccessModal {
  @include PopupContainer;
  padding: torem(40px);
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  @media (max-width: $w2) {
    width: 60vw;
  }
  @media (max-width: $w3) {
    width: calc(100vw - torem(40px));
    padding: torem(70px) torem(30px);
  }
  .title {
    font-family: Overpass, sans-serif;
    font-size: torem(20px);
    font-weight: 500;
    line-height: torem(26px);
    text-align: center;
    text-underline-position: from-font;
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
    margin-bottom: torem(40px);
    text-wrap: nowrap;
  }
  .SpinnerLoaderGreen{
    .loading{
        width: torem(150px);
        height: torem(150px);
        border: torem(3px) solid #fff;
        border-top: torem(3px) solid #004529;
        border-radius: 50%;
        margin: 0;
        padding: 0;
      }
}
}
