.profileCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: torem(10px);
  img {
    width: torem(412px);
    height: torem(412px);
    border-radius: torem(10px);
    background-color: #fff;
    object-fit: cover;
    @media (max-width: 1376px) {
      width: torem(350px);
      height: torem(350px);
    }
    @media (max-width: 768px) {
      width: torem(300px);
      height: torem(300px);
    }
  }
  .name {
    font-weight: 700;
    font-size: torem(22px);
    text-align: center;
    @media (max-width: 1376px) {
      font-size: torem(18px);
    }
  }

  .university {
    font-weight: 400;
    font-size: torem(20px);
    text-align: center;
    @media (max-width: 1376px) {
      font-size: torem(16px);
    }
  }
}
