@import "../../styles/colors.scss";

.ConfirmLoginLogo{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 40px;
}
.ConfirmLoginTitle{
    p{
        text-align: center;
        color: var(--GrayTextDefault);
        &:first-child{
            font-size: 32px;
            line-height: 38px;
            font-weight: 900;
            margin: 40px 0px 20px 0px;
        }
    }
}
.ConfirmLoginGalca{
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
    .ConfirmLoginGalcaImg{
        display: flex;
        justify-content: center;
        margin: 40px 0px;
 
    }
    p{
        max-width: 856px;
        font-size: 20px;
        color: var(--GrayTextDefault);
    }
    .mail{
        color: var(--GreenLinkSecond);
    }
}
.code{
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
    font-size: 20px;
    color: var(--GrayTextDefault);
}
.codeInput{
    display: flex;
    justify-content: center;
    color: var(--GrayTextDefault);
    .codeInputInner{
        display: flex;
        justify-content: space-between;
        width: 634px;
    }
    input{
        width: 79px;
        border: none;
        border-bottom: 3px  solid var(--GrayTextDefault);
        height: 100px;
        font-size: 84px;
        line-height: 100px;
        text-align: center;
        background-color: inherit;
        &:focus{
            outline: none;
        }
    }
    .error{
        border-bottom: 3px  solid var(--ErrorColor);
    }
}
.CodeSubmit{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    .CodeSubmitCode{
        display: flex;
        font-size: 18px;
        button{
            border: none;
            font-size: 18px;
            background-color: inherit;
        }
        p{
            margin-left: 5px;
            color: var(--GreenColorDefault);
            font-size: 18px;
        }
    }
}
.submitButton{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0px 130px 0px;
    button{
        border: none;
        border-radius: 10px;
        background-color: var(--GreenColorDefault);
        cursor: pointer;
        color: #fff;
        width: 634px;
        height: 66px;
        font-size: 22px;
        &:hover{
            background-color: var(--GreenColorHover);
        }
        &:active{
            background-color: var(--GreenColorActive);
        }
    }
}
