$w1: 1366px;
$w2: 769px;
$w3: 480px;

.InputLabel {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
  .label {
    @include InputTitle(torem(18px));
    margin-bottom: torem(10px);
    color: #333333;
  }

  .error {
    padding: 0 torem(5px);
    position: absolute;
    right: torem(20px);
    top: torem(25px);
    color: #b32020;
    font-family: Overpass, sans-serif;
    font-size: torem(16px);
    font-weight: 500;
    line-height: torem(19px);
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    background-color: var(--BodyBgColor);
    @media (max-width: $w2) {
      font-size: torem(14px);
    }
    @media (max-width: $w3) {
      font-size: torem(12px);
    }
  }

  .maininput {
    display: flex;
    padding: torem(16px) torem(20px);
    box-sizing: border-box;
    border: torem(1px) solid #c8d0ce;
    border-radius: torem(10px);
    outline: none;
    background-color: var(--BodyBgColor);
    font-family: Overpass, sans-serif;
    font-size: torem(18px);
    font-weight: 400;
    line-height: torem(21px);
    @media (max-width: $w2) {
      font-size: torem(16px);
    }
    @media (max-width: $w3) {
      font-size: torem(14px);
    }
  }
}
