$w1: 1366px;
$w2: 769px;
$w3: 480px;

.Participants {
  margin: torem(100px) 0px torem(70px) 0px;
  @media (max-width: 990px) {
    margin: torem(70px) 0px torem(70px) 0px;
  }
  @include maxMinContent(223px);
  .Title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: torem(40px);
    h2 {
      font-size: torem(30px);
      font-weight: 600;
      @media (max-width: 580px) {
        font-size: torem(18px);
        font-weight: 500;
      }
    }
  }
  .ParticipantsInner {
    .inputComponentInner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      .inputComponentInnerContainer {
        position: relative;
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;
        width: 100%;
        margin-bottom: torem(40px);

        .inputComponentInnerContainerInner {
          overflow: hidden;
          display: flex;
          flex-direction: row;
          height: torem(50px);
          width: torem(412px);
          border: 1px solid var(--InputColors);
          border-radius: 10px;
          @media (max-width: $w2) {
            width: 90%;
          }
        }
      }
      .img {
        width: torem(40px);
        display: flex;
        justify-content: center;
        align-items: center;
      }
      img {
        width: torem(19px);
        height: torem(19px);
      }
      .inputComponent {
        width: calc(100% - 40px);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: torem(30px);
        background-color: inherit;
        font-size: torem(20px);
        color: var(--GrayTextDefault);
        font-weight: 400;
        box-sizing: border-box;
        border: none;

        &::-webkit-input-placeholder {
          color: var(--InputTextColor);
        }

        &::-moz-placeholder {
          color: var(--InputTextColor);
        }

        &:-ms-input-placeholder {
          color: var(--InputTextColor);
        }

        &::-ms-input-placeholder {
          color: var(--InputTextColor);
        }

        &::placeholder {
          color: var(--InputTextColor);
        }
      }
    }
  }
}
