$w1: 1366px;
$w2: 769px;
$w3: 480px;

.SliderHomePageTop {
  margin-top: torem(70px);
  @media (max-width: $w2) {
    margin-top: torem(50px);
  }
  p {
    color: var(--GreenColorText);
    font-size: torem(18px);
    @media (max-width: $w1) {
      font-size: torem(22px);
    }
    @media (max-width: $w2) {
      font-size: torem(14px);
      padding-left: torem(32px);
    }
    @media (max-width: $w3) {
      padding-left: torem(20px);
    }
  }
  .SliderHomePageTopInner {
    overflow: hidden; /* Чтобы скрыть лишние элементы */
    position: relative;
    width: 100%;
    margin-top: torem(20px);
    @media (max-width: $w2) {
      margin-top: torem(10px);
    }
  }
  .line {
    content: '';
    position: relative;
    width: 100%;
    border: torem(1px) solid var(--GreenColorText);
    margin: torem(13px) 0px;
    @media (max-width: $w2) {
      margin: torem(10px) 0;
    }
    @media (max-width: $w3) {
      margin-bottom: torem(30px);
    }
  }
  .Slider {
    display: flex;
    animation: scroll 40s linear infinite; /* Анимация для бесконечного скролла */
    font-size: torem(18px);
    @media (max-width: $w3) {
      animation: none;
    }
    ul {
      list-style: none;
      display: flex;
      padding: 0;
      margin: 0;
      @media (max-width: $w3) {
        display: flex;
        flex-direction: column;
      }
    }
    li {
      color: var(--GreenColorText);
      max-width: torem(300px);
      display: flex;
      align-items: center;
      font-size: torem(18px);
      .sliderItem {
        display: flex;
        flex-direction: column;
        width: max-content;
      }
      @media (max-width: $w1) {
        font-size: torem(20px);
      }
      @media (max-width: $w2) {
        font-size: torem(14px);
        width: torem(274px);
      }
      @media (max-width: $w3) {
        width: calc(100% - torem(40px));
        padding: 0 torem(0px);
        flex-direction: column;
        align-items: start;
      }
      .sliderLine {
        margin: 0 torem(33px);
        display: flex;
        align-items: center;
        height: 100%;
        @media (max-width: $w2) {
          margin: 0 torem(18px);
        }
        @media (max-width: $w3) {
          width: 100%;
          margin: 0;
          border-bottom: torem(2px) dashed var(--GreenColorText);
          margin-bottom: torem(20px);
          padding-bottom: torem(20px);
        }
        img {
          width: torem(3px);
          height: torem(42px);
          @media (max-width: $w3) {
            display: none;
          }
        }
      }
      .date {
        font-weight: 900;
        margin-bottom: 5px;
        @media (max-width: $w2) {
          font-weight: 500;
          font-size: torem(16px);
        }
      }
    }
  }

  /* Анимация для бесконечного скролла */
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  /* Остановка анимации при наведении */
  .Slider:hover {
    animation-play-state: paused;
  }
}
