$w1: 780px;
$w2: 480px;
$w3: 360px;

.Login {
  padding-bottom: torem(60px);
  .LoginLogo {
    display: flex;
    justify-content: center;
    margin-bottom: torem(40px);
    width: 100%;
    @media (max-width: $w1) {
      position: fixed;
      left: torem(25px);
      top: torem(10px);
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
    }
    @media (max-width: $w2) {
      display: none !important;
    }
    img {
      width: torem(169px);
      height: torem(169px);
      cursor: pointer;
      @include HoverActiveOpacity;
      @media (max-width: $w1) {
        width: torem(60px);
        height: torem(60px);
      }
    }
  }
  .LoginTitle {
    margin-top: torem(74px);
    @media (max-width: $w2) {
      margin-top: torem(24px);
    }
    @media (max-width: $w3) {
      margin-top: torem(10px);
    }
    p {
      text-align: center;
      &:first-child {
        font-size: torem(32px);
        line-height: torem(38px);
        font-weight: 900;
        margin: torem(40px) 0px torem(20px) 0px;
        @media (max-width: $w1) {
          font-size: torem(20px);
          line-height: torem(24px);
          margin: 0;
          margin-bottom: torem(10px);
          padding: 0;
        }
        @media (max-width: $w2) {
          font-weight: 700;
          font-size: torem(18px);
        }
      }
      &:last-child {
        font-size: torem(18px);
        font-weight: 300;
        line-height: torem(21px);
        margin-bottom: calc(torem(25px) - torem(15px));
        @media (max-width: $w1) {
          font-weight: 400;
          font-size: torem(16px);
        }
        @media (max-width: $w2) {
          font-weight: 500;
          font-size: torem(16px);
          max-width: torem(309px);
          margin: 0 auto;
          margin-bottom: torem(25px);
        }
      }
    }
  }

  .input {
    display: flex;
    justify-content: center;
    @media (max-width: $w1) {
      input {
        width: torem(400px);
        height: torem(54px);
        font-size: torem(18px);
      }
      div[name='error'] {
        font-size: torem(14px);
      }
    }
    @media (max-width: $w2) {
      input {
        width: calc(100vw - torem(40px));
        height: torem(54px);
        font-size: torem(16px);
        margin: torem(10px) 0;
      }
      div[name='error'] {
        font-size: torem(14px);
      }
    }
    @media (max-width: $w3) {
      input {
        width: calc(100vw - torem(40px));
        height: torem(44px);
        font-size: torem(14px);
        margin: torem(10px) 0;
      }
      div[name='error'] {
        font-size: torem(14px);
      }
    }
  }
  .forgetPassword {
    color: var(--GreenColorDefault);
    display: flex;
    justify-content: end;
    cursor: pointer;
    &:hover {
      color: var(--GreenColorHover);
    }
    &:active {
      color: var(--GreenColorClick);
    }
    @media (max-width: $w1) {
      font-size: torem(16px);
      padding: 0;
      margin: 0;
      margin-top: torem(-10px);
    }
    @media (max-width: $w2) {
      margin-top: torem(-5px);
      font-size: torem(14px);
    }
  }
  .Maybe {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: torem(30px) 0px;
    @media (max-width: $w1) {
      margin: torem(20px) 0px;
    }
    .MaybeInner {
      width: torem(490px);
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: $w1) {
        width: torem(400px);
      }
      @media (max-width: $w2) {
        width: calc(100vw - torem(40px));
      }
      p {
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        text-align: center;
        @media (max-width: $w1) {
          font-size: torem(16px);
          padding: 0 torem(15px);
        }
        @media (max-width: $w2) {
          font-weight: 400;
          font-size: torem(16px);
        }
        @media (max-width: $w3) {
          font-size: torem(14px);
        }
      }
      .lineOne {
        position: relative;
        content: '';
        height: torem(1px);
        background-color: var(--InputColors);
        width: torem(214px);
      }
      .lineTwo {
        position: relative;
        content: '';
        height: torem(1px);
        background-color: var(--InputColors);
        width: torem(214px);
      }
    }
  }
  .loginButtonSfedu {
    display: flex;
    justify-content: center;
    button {
      width: torem(490px);
      text-align: start;
      border: none;
      border: torem(1px) solid var(--InputColors);
      border-radius: torem(10px);
      color: var(--GrayTextDefault);
      font-size: torem(20px);
      height: torem(66px);
      align-items: center;
      display: flex;
      background-color: inherit;
      padding-left: torem(20px);
      cursor: pointer;
      @media (max-width: $w1) {
        width: torem(400px);
      }
      @media (max-width: $w2) {
        width: calc(100vw - torem(40px));
        font-weight: 400;
        font-size: torem(16px);
      }
      @media (max-width: $w3) {
        font-size: torem(14px);
        height: torem(54px);
      }
      img {
        margin-right: torem(15px);
      }
    }
  }
  .submitButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: torem(30px) 0px torem(15px) 0px;
    @media (max-width: $w3) {
      margin-top: torem(20px);
    }
    button {
      border: none;
      border-radius: torem(10px);
      background-color: var(--GreenColorDefault);
      cursor: pointer;
      color: #fff;
      width: torem(490px);
      height: torem(66px);
      font-size: torem(22px);
      &:hover {
        background-color: var(--GreenColorHover);
      }
      &:active {
        background-color: var(--GreenColorActive);
      }
      @media (max-width: $w1) {
        width: torem(400px);
      }
      @media (max-width: $w2) {
        width: calc(100vw - torem(40px));
        font-weight: 400;
        font-size: torem(16px);
      }
      @media (max-width: $w3) {
        font-size: torem(14px);
        height: torem(54px);
      }
    }
  }
  .noAccount {
    display: flex;
    color: var(--GrayTextDefault);
    justify-content: center;
    margin-bottom: torem(150px);
    p {
      &:last-child {
        color: var(--GreenColorText);
        margin-left: torem(10px);
        cursor: pointer;
        transition: 0.05s linear all;
        &:hover {
          text-decoration: underline;
        }
      }
      @media (max-width: $w3) {
        font-size: torem(14px);
      }
    }
  }
}
