$w1: 1366px;
$w2: 769px;
$w3: 480px;

.ExitAccount {
  margin-top: torem(200px);
  @media (max-width: $w2) {
    margin-top: torem(135px);
    min-height: calc(100vh - torem(410px));
    width: 100vw;
  }
  .ExitAccountImg {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: torem(40px);
    @media (max-width: $w2) {
      margin-bottom: torem(35px);
      img {
        width: torem(40px);
        height: torem(40px);
      }
    }
  }
  p {
    font-size: torem(26px);
    font-weight: 400;
    line-height: torem(36px);
    color: #333333;
    text-align: center;
    @media (max-width: $w2) {
      font-size: torem(22px);
      font-weight: 500;
    }
  }
  .ExitAccountButton {
    display: flex;
    justify-content: center;
    margin-top: torem(57px);
    @media (max-width: $w2) {
      margin-top: torem(40px);
    }
    button {
      height: torem(60px);
      margin: 0px torem(10px);
      border-radius: torem(10px);
      border: none;
      font-size: torem(22px);
      cursor: pointer;
      transition: all 0.1s linear;
      @media (max-width: $w2) {
        font-size: torem(18px);
      }
      &:first-child {
        margin-right: torem(20px);
        color: #fff;
        background-color: var(--GreenColorDefault);
        width: torem(220px);
        @media (max-width: $w2) {
          width: torem(250px);
          height: torem(54px);
        }
        &:hover {
          background-color: var(--GreenColorHover);
        }
        &:active {
          background-color: var(--GreenColorActive);
        }
      }
      &:last-child {
        margin-right: torem(20px);
        color: #fff;
        border: torem(1px) solid var(--GreenColorDefault);
        width: torem(170px);
        background-color: inherit;
        color: var(--GreenColorDefault);
        @media (max-width: $w2) {
          height: torem(54px);
        }
        &:hover {
          background-color: var(--MenuHover);
        }
        &:active {
          background-color: var(--MenuHoverActive);
        }
      }
    }
  }
}
