$w1: 1366px;
$w2: 769px;
$w3: 480px;

.ImageCropper {
  .editPhoto {
    @include PopupBlur;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10005;
    @media (max-width: $w2) {
      padding-top: torem(50px);
    }

    .container {
      @include PopupContainer;
      display: flex;
      padding: torem(40px) torem(70px);
      width: torem(600px);
      height: -webkit-max-content;
      height: -moz-max-content;
      height: max-content;
      @media (max-width: $w2) {
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
      }
      @media (max-width: $w3) {
        width: calc(100vw - torem(40px));
      }

      img {
        max-height: 50vh;
      }

      button {
        @include ButtonGreen;
        width: torem(310px);
        height: torem(54px);
        font-size: torem(18px);
        font-weight: 400;
        text-align: center;
        margin-top: torem(40px);

        @media (max-width: $w2) {
          font-size: torem(16px);
          width: -webkit-max-content;
          width: -moz-max-content;
          width: max-content;
          padding: 0 torem(40px);
          height: torem(54px);
        }
      }
    }
  }
}
