.TableModule {
  margin-top: torem(25px);
  max-height: 58vh;
  overflow: auto;
  border-bottom: torem(1px) solid #c8d0ce;
  border-radius: torem(8px);

  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border: torem(1px) solid #e0e0e0;
    border-radius: torem(8px);
    font-family: 'Arial', sans-serif;

    thead {
      background-color: #e7eae9;
      position: sticky;
      top: 0;
      z-index: 10;
      th {
        padding: torem(12px);
        text-align: center;
        font-weight: 700;
        font-size: torem(18px);
        color: #333;
        border-bottom: torem(2px) solid #d0d7de;

        &:first-child {
          border-top-left-radius: torem(8px);
        }

        &:last-child {
          border-top-right-radius: torem(8px);
        }
      }
    }

    tbody {
      tr {
        &:hover {
          background-color: #f0f4f8;
        }
        height: torem(81px);
        td {
          padding: torem(10px) torem(12px);
          border: torem(1px) solid #e0e0e0;
          vertical-align: middle;
          color: #444;
          background-color: inherit;
          transition: all 0.2s linear;
        }
        td:nth-child(5) {
          max-width: torem(310px);
        }
        td:nth-child(6) {
          min-width: torem(310px);
        }

        &:last-child td {
          border-bottom: none;
        }
        .editData {
          background-color: #1ce99633;
          transition: all 0.2s linear;
        }
      }
    }

    .direction_container {
      display: flex;
      flex-direction: row;
      align-items: center;
      position: relative;
      justify-content: space-between;
      .rigth_box {
        margin-left: torem(10px);
        img {
          width: torem(24px);
          height: torem(24px);
          padding: torem(5px);
          transform: scaleY(-1);
          transition: all 0.2s linear;
        }
        .open {
          transform: scaleY(1);
          transition: all 0.2s linear;
        }
      }
    }
  }
}

.DirectionList {
  position: fixed;
  background-color: #f0f3f2;
  max-height: torem(500px);
  width: torem(310px);
  overflow: auto;
  overflow-x: hidden;
  border-radius: torem(10px);
  z-index: 1000;
  border: torem(1px) solid #c8d0ce;

  ul {
    @include listNoStyle;
    width: 100%;
    li {
      cursor: pointer;
      width: 100%;
      padding: torem(20px);
      font-family: Overpass, sans-serif;
      font-weight: 400;
      font-size: torem(16px);
      line-height: torem(19px);
    }
    .selected {
      background-color: #00452940;
    }
  }
}
