$w1: 1366px;
$w2: 769px;
$w3: 480px;

.ChangePassword {
  width: calc(100vw - torem(700px));
  display: flex;
  justify-content: center;
  @media (max-width: $w2) {
    width: 100vw;
  }

  .modal {
    @include PopupBlur;
    @media (max-width: $w2) {
      padding-top: 10vh;
    }
    @media (max-width: $w3) {
      padding-top: 6vh;
    }
    .container {
      @include PopupContainer;
      width: torem(856px);
      height: torem(380px);
      @media (max-width: $w2) {
        width: torem(414px);
        height: torem(393px);
      }
      @media (max-width: $w3) {
        width: calc(100vw - torem(40px));
      }

      h2 {
        @include PopupTitle;
        margin-bottom: torem(40px);
      }
      img {
        margin-bottom: torem(40px);
      }
      button {
        @include ButtonGreen;
        width: torem(280px);
        height: torem(54px);
      }
    }
  }

  .container {
    margin-top: torem(200px);
    margin-bottom: torem(400px);
    div[name='error'] {
      top: torem(-3px) !important;
    }
    img {
      transform: translateY(torem(-3px));
    }
    @media (max-width: $w2) {
      margin-top: torem(135px);
    }

    @media (max-width: $w2) {
      span {
        font-size: torem(16px) !important;
      }
      input {
        font-size: torem(16px) !important;
        width: torem(400px);
        height: torem(54px);
      }
      div[name='error'] {
        font-size: torem(14px);
        top: 0 !important;
      }
    }
    @media (max-width: $w3) {
      width: calc(100vw - torem(40px));
      span {
        font-size: torem(14px) !important;
      }
      input {
        font-size: torem(14px) !important;
        width: 100%;
        height: torem(54px);
      }
      div[name='error'] {
        font-size: torem(12px);
      }
    }
  }

  .changebtn {
    background-color: #004529;
    width: 100%;
    height: torem(54px);
    border-radius: torem(10px);
    color: #fff;
    font-family: Overpass, sans-serif;
    font-size: torem(20px);
    font-weight: 400;
    line-height: torem(26px);
    text-align: center;
    text-underline-position: from-font;
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
    margin-top: torem(25px);
    @media (max-width: $w2) {
      font-size: torem(18px);
    }
    cursor: pointer;
    &:hover {
      background-color: #002d1b;
      transition: all 0.1s linear;
    }
    &:active {
      background-color: #001c14;
      transition: all 0.1s linear;
    }
  }
}
