:root {
  --ExampleColor: #f7f7f7;
  --GreenColorDefault: #004529;
  --GreenColorHover: #002d1b;
  --GreenColorActive: #001c14;
  --GreenColorText: #006d49;
  --BodyBgColor: #f0f3f2;
  --ColorLink: #1ce996;
  --GreenLinkSecond: #58b191;
  --InputColors: #c8d0ce;
  --InputTextColor: #858b89;
  --GrayOne: #858b89;
  --GraySecond: #5b605e;
  --GrayTextDefault: #333333;
  --ErrorColor: #b32020;
  --MenuHover: #0045290a;
  --MenuHoverActive: #00452940;
}
