@import '../../styles/mixin.scss';

.InputListForma {
  p {
    @include InputTitle();
    margin-bottom: torem(10px);
  }
  input {
    width: torem(350px);
    height: torem(54px);
    border-radius: torem(10px);
    font-family: Overpass, sans-serif;
    font-size: torem(18px);
    font-weight: 500;
    line-height: torem(21px);
    text-align: left;
    color: #333333;
    padding: torem(16px) torem(20px);
    padding-right: torem(45px);
    box-sizing: border-box;
    outline: none;
    border: torem(1px) solid #c8d0ce;
    background-color: inherit;
    cursor: pointer;
    transition: all 0.5s linear;
  }
  .active {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transition: all 0s linear;
  }
  .boxInner {
    position: relative;
    width: torem(350px);
  }
  .ArrowBottom {
    position: absolute;
    right: torem(16px);
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.15s linear;
    cursor: pointer;
    &:hover * {
      fill: var(--GreenColorDefault);
      transition: all 0.15s linear;
    }
  }
  .openArrow {
    transform: translateY(-50%) scaleY(-1);
    transition: all 0.15s linear;
  }
}
