@import '../../styles/colors.scss';

$w1: 1400px;
$w2: 780px;
$w3: 650px;
$w4: 480px;

.author {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 300;
  padding: 70px 30px 100px 30px;
  @include maxMinContent();
  @media (max-width: $w4) {
    width: 100vw;
  }
}

.h1 {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 500;
  @media (max-width: $w2) {
    font-size: 20px;
  }
  @media (max-width: $w3) {
    font-size: 18px;
  }
}

.buttons {
  display: flex;
  gap: 25px;
  margin-top: 20px;
  margin-bottom: 40px;
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
  padding-bottom: 10px; // Добавляет небольшой отступ, чтобы скролл не перекрывался
  -webkit-overflow-scrolling: touch; // Улучшает скролл на iOS
  justify-content: center;
  @include ScrollBar();
  @media (max-width: 890px) {
    gap: 15px;
  }
  @media (max-width: 656px) {
    justify-content: start;
  }
  .button {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 5px 10px;
    gap: 5px;
    background-color: var(--MenuHover);
    border: 1px var(--MenuHoverActive) solid;
    cursor: pointer;
    font-weight: 500;
    flex-shrink: 0; // Запрещает кнопкам сжиматься
  }

  .button_active {
    opacity: 100%;
  }

  .button_passive {
    opacity: 30%;
  }

  .button_text {
    font-weight: 500;
  }
}

.registration {
  .bold {
    font-weight: 700;
  }
  .green_link {
    color: var(--GreenLinkSecond);
    text-decoration: underline;
    font-weight: 700;
  }

  .registration_text_1 {
    font-size: 22px;
    @media (max-width: $w2) {
      font-size: 16px;
    }
  }

  .registration_text_2 {
    font-size: 22px;
    margin-top: 20px;
    font-weight: 700;
    @media (max-width: $w2) {
      font-size: 18px;
    }
  }

  .registration_text_3 {
    font-size: 20px;
    margin-top: 40px;
    @media (max-width: $w2) {
      margin-top: 20px;
      font-size: 16px;
    }
  }

  .registration_text_4 {
    font-size: 20px;
    margin-top: 40px;
    @media (max-width: $w2) {
      margin-top: 20px;
      font-size: 16px;
    }
  }
}

.collection {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
