@import '../../styles/colors.scss';

$w1: 1400px;
$w2: 780px;
$w3: 650px;
$w4: 480px;

.author {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 300;
  padding: torem(70px) torem(30px) torem(100px) torem(30px);
  margin: 0 auto;
  @include maxMinContent();
  @media (max-width: $w4) {
    width: 100vw;
  }
}

.logo {
  width: torem(110px);
  height: torem(110px);
  position: fixed;
  top: torem(25px);
  left: torem(25px);
  z-index: 1000;
  @include HoverActiveOpacity;
  @media (max-width: 990px) {
    width: torem(60px);
    height: torem(60px);
    top: torem(15px);
    left: torem(15px);
  }
  @media (max-width: 769px) {
    display: none;
  }
}

.h1 {
  text-transform: uppercase;
  font-size: torem(30px);
  font-weight: 500;
  @media (max-width: $w2) {
    font-size: torem(20px);
  }
  @media (max-width: $w3) {
    font-size: torem(18px);
  }
}

.buttons {
  display: flex;
  gap: torem(25px);
  margin-top: torem(20px);
  margin-bottom: torem(40px);
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
  padding-bottom: torem(10px); // Добавляет небольшой отступ, чтобы скролл не перекрывался
  -webkit-overflow-scrolling: touch; // Улучшает скролл на iOS
  justify-content: center;
  img {
    width: torem(24px);
    height: torem(24px);
  }
  @include ScrollBar();
  @media (max-width: 890px) {
    gap: torem(15px);
  }
  @media (max-width: 656px) {
    justify-content: start;
    width: 100vw;
    padding: 0 torem(25px);
    padding-bottom: torem(5px);
  }
  .button {
    display: flex;
    align-items: center;
    border-radius: torem(10px);
    padding: torem(5px) torem(10px);
    gap: torem(5px);
    background-color: var(--MenuHover);
    border: torem(1px) var(--MenuHoverActive) solid;
    cursor: pointer;
    font-weight: 500;
    flex-shrink: 0; // Запрещает кнопкам сжиматься
  }

  .button_active {
    opacity: 100%;
  }

  .button_passive {
    opacity: 30%;
  }

  .button_text {
    font-weight: 500;
  }
}

.registration {
  padding: 0 torem(25px);
  @media (max-width: $w4) {
    padding: 0;
  }

  .bold {
    font-weight: 700;
  }
  .green_link {
    color: var(--GreenLinkSecond);
    text-decoration: underline;
    font-weight: 700;
  }

  .registration_text_1 {
    font-size: torem(22px);
    a {
      cursor: pointer;
      text-decoration: none;
      transition: 0.1s linear all;
      &:hover {
        opacity: 0.8;
        text-decoration: underline;
      }
    }
    @media (max-width: $w2) {
      font-size: torem(16px);
    }
  }

  .registration_text_2 {
    font-size: torem(22px);
    margin-top: torem(20px);
    font-weight: 700;
    @media (max-width: $w2) {
      font-size: torem(18px);
    }
  }

  .registration_text_3 {
    font-size: torem(20px);
    margin-top: torem(40px);
    a {
      cursor: pointer;
      text-decoration: none;
      transition: 0.1s linear all;
      &:hover {
        opacity: 0.8;
        text-decoration: underline;
      }
    }
    @media (max-width: $w2) {
      margin-top: torem(20px);
      font-size: torem(16px);
    }
  }

  .registration_text_4 {
    font-size: torem(20px);
    margin-top: torem(40px);
    @media (max-width: $w2) {
      margin-top: torem(20px);
      font-size: torem(16px);
    }
  }
}

.collection {
  display: flex;
  flex-direction: column;
  gap: torem(40px);
}
