$w1: 1366px;
$w2: 769px;
$w3: 480px;

.CreateReport {
  width: 100%;
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;
  @media (max-width: $w2) {
    margin-top: torem(35px);
    width: 100vw;
    padding: 0 torem(30px);
  }
  .title {
    display: flex;
    justify-content: center;
    font-family: Overpass, sans-serif;
    font-size: torem(32px);
    font-weight: 500;
    text-align: center;
    color: #333333;
    margin: 0;
    @media (max-width: $w2) {
      font-size: torem(26px);
      font-weight: 400;
    }
  }
  .slider {
    position: relative;
    background-color: #e7eae9;
    width: 100%;
    border-radius: torem(5px);
    height: torem(5px);
    margin-top: torem(20px);

    .sliderInner {
      position: absolute;
      left: 0;
      height: 100%;
      background-color: #00452980;
      transition: all 0.15s linear;
    }
  }
  .nameReport {
    @include InputTitle();
    margin-top: torem(25px);
    @media (max-width: $w2) {
      margin-top: torem(40px);
    }
  }

  .name_report_container {
    position: relative;
    display: flex;
    margin-top: torem(10px);
    margin-bottom: torem(25px);

    .error_name {
      position: absolute;
      top: torem(-10px);
      right: torem(15px);
      height: torem(20px);
      background-color: var(--BodyBgColor);
      padding: 0 torem(5px);
      transition: all 0.2s linear;
      span {
        color: #b32020;
        font-family: Overpass, sans-serif;
        font-weight: 500;
        font-size: torem(16px);
      }
    }
    .nameReportInput {
      @include TextArea;
      transition: all 0.2s linear;
    }
    .error_input_name {
      border: torem(1px) solid #b32020;
      transition: all 0.2s linear;
    }
  }
  .inputsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: torem(25px);

    @media (max-width: $w2) {
      flex-wrap: wrap;
      div[name='InputListForma'] {
        margin-top: torem(25px);
      }
    }

    .input_organization {
      display: flex;
      flex-direction: column;
      span {
        margin-bottom: torem(10px);
        font-family: Overpass, sans-serif;
        font-weight: 500;
        font-size: torem(18px);
        color: #333333;
      }
      input {
        border: torem(1px) solid #c8d0ce;
        width: torem(350px);
        height: torem(54px);
        border-radius: torem(10px);
        background: none;
        outline: none;
        padding: torem(16px) torem(20px);
        font-family: Overpass, sans-serif;
        font-weight: 400;
        font-size: torem(18px);
        @media (max-width: $w2) {
          width: torem(340px);
        }
      }
    }

    .organization_mobile {
      display: none;
      @media (max-width: $w2) {
        display: flex;
        margin-top: torem(25px);
      }
    }
    .organization_pc {
      display: flex;
      @media (max-width: $w2) {
        display: none;
      }
    }
  }
  .fileContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    .box {
      width: torem(548px);
      margin-top: torem(40px);
      @media (max-width: $w2) {
        width: torem(340px);
      }
      p {
        @include InputTitle;
        @media (max-width: $w2) {
          height: torem(44px);
          display: flex;
          align-items: end;
        }
      }
      .fileContur {
        margin-top: torem(10px);
        .file_block {
          position: relative;
          width: 100%;
          height: torem(217px);
          margin-bottom: torem(5px);
          border: torem(1px) solid #858b89;
          border-radius: torem(10px);

          .border {
            width: 100%;
          }
        }
        .fileImport {
          border-radius: torem(10px);

          cursor: pointer;
          fill: var(--BodyBgColor);
          transition: all 0.15s linear;

          &:hover {
            background-color: #0045290a;
            fill: #e7eae9;
            transition: all 0.15s linear;
          }
          &:active {
            background-color: #00452940;
            fill: #00452940;
            transition: all 0.15s linear;
          }
        }
        .blockFile {
          border-radius: 10px;
          fill: var(--BodyBgColor);
          transition: all 0.15s linear;

          &:hover {
            background-color: #0045290a;
            fill: #e7eae9;
            transition: all 0.15s linear;
          }
        }
        .trash {
          cursor: pointer;
          position: absolute;
          right: torem(15px);
          top: torem(15px);
          padding: torem(5px);
          border-radius: torem(5px);
          @include HoverActive;
        }
        .fileName {
          display: flex;
          justify-content: center;
          left: 50%;
          transform: translateX(-50%);
          position: absolute;
          top: torem(90px);
          width: torem(244px);
          height: torem(60px);
          // background-color: var(--BodyBgColor);
          z-index: 10;
          padding-top: torem(5px);
          box-sizing: border-box;
          span {
            font-family: Overpass, sans-serif;
            font-size: torem(16px);
            font-weight: 400;
            line-height: torem(19px);
            text-align: center;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            color: #858b89;
          }
        }
      }

      .downloadShablon {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
        font-family: Overpass, sans-serif;
        font-size: torem(18px);
        font-weight: 400;
        line-height: torem(21px);
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #004529;
        img {
          margin-left: torem(5px);
        }
        .shablon {
          cursor: pointer;
          display: flex;
          flex-direction: row;
          align-items: center;
        }
      }
    }
  }
  .context {
    margin-top: torem(40px);
    p {
      @include InputTitle;
      margin-bottom: torem(10px);
    }
    textarea {
      @include TextArea;
    }
  }
  .srokContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: torem(35px);
    .text {
      display: flex;
      align-items: start;
      flex-direction: row;
      width: torem(769px);
      margin-top: torem(8px);
      img {
        margin-right: torem(6px);
      }
    }
    button {
      @include ButtonGreen;
      padding: torem(20px);
      width: torem(350px);
      height: torem(64px);
    }
  }
}
