.SpinnerLoaderGreen{
    .loading{
        width: torem(24px);
        height: torem(24px);
        border: torem(3px) solid #fff;
        border-top: torem(3px) solid #004529;
        border-radius: 50%;
        margin: 0;
        padding: 0;
      }
}