.OrgazmCommetet{
    .OrgazmCommetetInner{
        .title{
            font-size: 32px;
            font-weight: 500;
            margin-bottom: 40px;
            color: #333;
        }
        .subtitle{
            font-size: 24px;
            font-weight: 500;
            color: #333;
            margin-bottom: 25px;
        }
        p{
            display: flex;
            justify-content: start;
            text-align: start;
        }
        .buttonBlock{
            display: flex;
            justify-content: space-between;
            margin-bottom: 25px;
            button{
                background: none;
                border: none;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    margin: 0px 8px;
                }
            }
            .buttonBlockCont{
                display: flex;
                .active{
                    @include ButtonOrgComActive();
                }
                .noActive{
                    @include ButtonOrgComDisable();
                }
               
            }
            .ButtonAdd{
                @include ButtonGreen();
                width: 290px;
                height: 51px;
                img{
                    margin-right: 8px;
                }
            }
          
        }
        .orgCargCont{
            display: grid;
            gap: 20px;
            margin-bottom: 40px;
           }
    }
}