$w1: 1366px;
$w2: 769px;
$w3: 480px;

.UniversalTable {
  max-height: 75vh;
  overflow: auto; /* Обеспечивает скроллинг при необходимости */
  border-radius: 8px;
  margin: 0 auto;
  max-width: 100%; /* Делаем таблицу гибкой по ширине */
  box-sizing: border-box;
  overflow-x: auto; /* Горизонтальный скролл */
  width: calc(100% - 40px);
  @media (max-width: $w2) {
    width: 100%;
  }
  @media (max-width: 340px) {
    width: calc(100% - 40px);
  }

  /* Добавляем для больших экранов, где может понадобиться фиксированная ширина */
  @media (min-width: 1600px) {
    max-width: 1635px;
  }

  table {
    padding: 0px 20px;
    margin: 0 auto;
    border-collapse: collapse;
    min-height: 100px;
    overflow-x: auto;
    font-size: 16px;
    min-width: 1368px;
    @media (max-width: 1368px) {
      min-width: 90%;
    }
    thead {
      position: sticky;
      top: 0;
      z-index: 1;
      background-color: #e7eae9;

      th {
        padding: 15px;
        z-index: 10;
        border-bottom: 2px solid #ccc;

        &:nth-child(1) {
          border-radius: 8px 0 0 0;
        }
        &:last-child {
          border-radius: 0 8px 0 0;
        }
      }
    }

    tbody {
      tr {
        transition: background-color 0.3s;
        border-bottom: 1px solid #e0e0e0;
      }

      tr:hover td {
        background-color: var(--TableColorMouse) !important;
        cursor: pointer;
      }

      td {
        padding: 10px;
        background-color: #f7f7f7;
        border: 1px solid #c8d0ce;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
      }

      td[name='number'] {
        text-align: center;
      }

      .buttonTable {
        width: 48px;
        height: 52px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
          background-color: #0045290a;
        }
        img {
          left: 0 !important;
          top: 0 !important;
        }
      }
    }

    .imgTable {
      width: 150px;
      height: 150px;
      transition: 0.1s all linear;
      &:hover {
        opacity: 0.4;
      }
    }
  }

  /* Стили для скроллбара */
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent !important;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #aaa;
  }

  /* Адаптивность для маленьких экранов */
  @media (max-width: 768px) {
    table {
      font-size: 14px;
    }
  }
}

.tableNotData {
  text-align: center;
  padding: 20px;
  font-size: 18px;
  color: var(--GrayColorInput);
  background-color: #f7f7f7;
  width: 100%;
}

.arrowTableCont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;
  img {
    left: 0px !important;
    top: 2px !important;
    margin: 0px 10px;
    cursor: pointer;
    transition: 0.1s linear all;
    &:hover {
      background-color: #0045290a;
    }
  }
}
