.AboutConference {
  width: 100%;
  margin-top: 40px;
  h3 {
    @include titleBlock;
    margin-bottom: 10px;
  }
  textarea {
    width: 100%;
    @include TextArea;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
    min-height: 387px;
    padding: 20px;
    color: #333333;
  }
}
