.AboutConference {
  width: 100%;
  margin-top: torem(40px);
  h3 {
    @include titleBlock;
    margin-bottom: torem(10px);
  }
  textarea {
    width: 100%;
    @include TextArea;
    font-weight: 400;
    font-size: torem(18px);
    line-height: torem(27px);
    letter-spacing: 0%;
    min-height: torem(387px);
    padding: torem(20px);
    color: #333333;
  }
}
